.title-dating {
	margin-top:75px;
	color: #34454E;
	font-family: Roboto;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1.16px;
	line-height: 40px;
	text-align: center;
}
.background-dating{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../img/logo_big_2.png);
    background-size: contain;
    background-position: 50%;
	&-relative{
		position: relative;
	}
}
.form-dating{
	margin-bottom: 125px;
	text-align: left;
	&-button{
		height: 45px;
		width: 153px;
		cursor: pointer;
		color: #FFFFFF;
		font-family: Roboto;
		font-size: 15px;
		border:none;
		margin:0 auto;
		display: block;
		letter-spacing: 0.15px;
		line-height: 17px;
		text-align: center;
		border-radius: 8px;
		background-color: #037286;
		box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.19);
		transition: all 300ms;
		&:hover{
			color:#037286;
			background: #fff;
			border:solid 1px #037286;
		}
	}
	&-wrapper-link{
		text-align: right;
	}
	&-subtitle-input{
		width: 100%;
		color: #000000;
		font-family: Roboto;
		font-size: 15px;
		letter-spacing: 1.04px;
		line-height: 18px;
		padding: 18px 20px;
		& span{
			display: block;
			opacity: 0.5;
			color: #000000;
			font-family: Roboto;
			font-size: 13px;
			letter-spacing: 0.9px;
			line-height: 15px;
		}
	}
	&-input{
		margin-bottom: 10px;
		border:none;
		color: #000000;
		font-family: Roboto;
		font-size: 13px;
		letter-spacing: 0.9px;
		line-height: 15px;
		padding: 20px 30px;
		height: 55px;
		width: 100%;
		border-radius: 2px;
		background-color: #E2EDF0;
		transition: all 300ms;
		&:focus{
			opacity: 1;
			color:black;
		}
	}
}
.form-dating-wrapper-input{
	position: relative;
	&::before{
		content:"";
		position: absolute;
		z-index: 10;
		right: 20px;
		top: 15px;
	    border: 8px solid transparent;
	    border-top: 8px solid #037286;
	}
}
.link-dating-for-input{
	display: inline-block;
	text-decoration: underline;
	color: #037286;
	font-family: Roboto;
	font-size: 13px;
	letter-spacing: 0.9px;
	line-height: 15px;
}
.last-input{
	margin-bottom: 50px;
}
.form-dating-search{
	margin-bottom: 10px;
	padding-right: 0px;
	padding-left: 0px;
    border: none;
    color: #000000;
    font-family: Roboto;
    font-size: 13px;
    letter-spacing: 0.9px;
    line-height: 15px;
    padding: 15px 30px !important;
    height: 55px;
    width: 100%;
    border-radius: 2px;
    background-color: #E2EDF0;
    transition: all 300ms;
}
.form-dating-box-items{
	display: none;
	background: #E2EDF0;
	overflow-y: auto;
	max-height: 450px;
}
.form-dating-items{
	list-style-type: none;
	margin:0px;
}
.form-dating-item{
	font-size: 14px;
	padding:7px 30px;
	border-bottom: solid 2px transparent;
	transition: all 200ms;
	&:hover{
		background:#fff;
		cursor:pointer;
		border-bottom: solid 2px #bed4da;
	}
}
.form-dating-modal{
	// display: none;
    position: absolute;
    width: 730px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		height: 400px;
    padding:45px;
   	overflow-y: auto;
    background:#fff;
    border-radius: 5px;
    z-index: 11000;
    &_background{
    	position: fixed;
			width: 100%;
			left: 0;
			top: 0;
			height: 100%;
			z-index: 10000;
			background: rgba(0,0,0,.5);
    }
    & .form-dating-subtitle-input{
    	text-align: center;
    }
    & .form-dating-input{
    	margin-bottom: 15px;
    }
    & .form-dating-button{
    	margin:0 auto;
    }
    &-closed{
	    width: 30px;
	    height: 30px;
	    background: #037286;
	    padding: 1px;
	    border-radius: 20px;
	    text-align: center;
	    color: #fff;
    	position: absolute;
    	top: 30px;
    	right: 50px;
    	cursor: pointer;
    	transition: all 300ms;
    	border:solid 2px #037286;
    	&:hover{
    		background:#fff;
    		color: #037286;
    	}
    }
}

.body-hidden-dating{
	overflow: hidden;
}
.body-hidden-dating::before{
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background: rgba(0,0,0,.5);
}
@media screen and (max-width: 767px){
	.background-dating{
		left: 0%;
	}
	.header-green{
		padding: 15px 0px;
	}
}