.css {
  &-block {
    &-one {
      width: 380px;
      border-radius: 8px;
      background: $css-color;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 150px 0 315px;
      & > img {
        width: 70px;
        margin-bottom: 90px;
      }
      & p {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1.33px;
        margin-bottom: 145px;
        position: relative;
        &::before {
          position: absolute;
          content: '';
          width: 2px;
          height: 70px;
          left: 50%;
          background: url(../img/stage-line-panel.png);
          background-repeat: repeat;
          top: 70px;
        }
        &:last-child::before {
          display: none;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-two{
      width: 380px;
      border-radius: 8px;
      background: $css-color;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 115px 0;
      & > img {
        width: 80px;
        margin-bottom: 50px;
      }
      & p{
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1.33px;
        margin-bottom: 0;
        text-align: center;
      }
    }
    &-three{
      width: 380px;
      border-radius: 8px;
      background: $css-color;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 120px 0;
      & > img {
        width: 80px;
        margin-bottom: 50px;
      }
      & p{
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1.33px;
        margin-bottom: 0;
        text-align: center;
      }
    }
    &-four{
      width: 380px;
      border-radius: 8px;
      background: $css-color;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 150px 0;
      & > img {
        width: 65px;
        margin-bottom: 50px;
      }
      & p{
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1.33px;
        margin-bottom: 0;
        text-align: center;
      }
    }
    &-five{
      width: 380px;
      border-radius: 8px;
      background: $css-color;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 105px 0;
      & > img {
        width: 65px;
        margin-bottom: 50px;
      }
      & p{
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1.33px;
        margin-bottom: 0;
        text-align: center;
      }
    }
    &-six{
      width: 380px;
      border-radius: 8px;
      background: $css-color;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 175px 0;
      & > img {
        width: 70px;
        margin-bottom: 50px;
      }
      & p{
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1.33px;
        margin-bottom: 0;
        text-align: center;
      }
    }
    &-seven{
      width: 380px;
      border-radius: 8px;
      background: $css-color;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 100px 0;
      & > img {
        width: 68px;
        margin-bottom: 50px;
      }
      & p{
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1.33px;
        margin-bottom: 0;
        text-align: center;
      }
    }
  }
  &-material {
    &-license, &-consult{
      & p {
        font-size: 20px;
        letter-spacing: 1.11px;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 0;
      }
      & iframe{
        margin-bottom: 25px;
        display: block;
      }
    }
    &-video{
      & p {
        font-size: 20px;
        letter-spacing: 1.11px;
        font-weight: 500;
        line-height: 1.3;
      }
      & a {
        color: $css-color;
        text-decoration: underline;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        font-weight: 500;
        & img {
          width: 20px;
          margin-right: 10px;
        }
      }
      & iframe{
        margin-bottom: 25px;
        display: block;
      }
    }
    &-item{
      width: 600px;
      max-height: 400px;
      min-height: 160px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      & p {
        font-size: 20px;
        letter-spacing: 1.11px;
        font-weight: 500;
        line-height: 1.3;
      }
      & a {
        color: $css-color;
        text-decoration: underline;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        font-weight: 500;
        & img {
          width: 20px;
          margin-right: 10px;
        }
      }
    }
    &-page{
      @include six-number;
    }
    &-wrapp {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 60px;
      &:last-child{
        margin-bottom: 200px;
      }
    }
    & h2 {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 1.16px;
      color: $grafit-color;
      margin-bottom: 60px;
    }
    &-info {
      padding-top: 110px;
      &-wrapp {
        display: flex;
      }
    }
    &-title {
      & p {
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0.83px;
        text-transform: uppercase;
        line-height: 1.3;
        margin-bottom: 60px;
        & span {
          color: $css-color;
        }
      }
      & > span {
        font-size: 20px;
        letter-spacing: 1.14px;
        font-weight: 500;
        line-height: 1.3;
      }
    }
    &-link {
      margin-right: 35px;
      & a {
        width: 250px;
        border-radius: 8px;
        background-color: $css-color;
        box-shadow: -2px -1px 9px 0 rgba(0, 0, 0, 0.17);
        padding: 20px 0;
        color: #fff;
        display: block;
        text-align: center;
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1.04px;
        line-height: 18px;
        &:hover{
          box-shadow: 2px 5px 10px 0 $css-color;
        }
      }
    }
    &-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 100px;
    }
    &-img {
      height: 385px;
      width: 323px;
      & img {
        width: 100%;
      }
    }
  }
}