extends ../default.pug
block pageContent
    include ../templates/header.pug
    .content
        .container
            section.about
                h2 Історія наставництва
                .about-card
                    p
                        | З 2009 року, завдяки проекту Наставництва ГО «Одна надія» і партнерам, більше 1300 осіб в Україні стали Наставниками і значущими друзями для дітей з інтернатів.
                        br
                        br
                        | 6 жовтня 2016 року Президент України підписав Закон про наставництво, відтепер Наставництво - офіційна законна форма допомоги дитині в установі.
                        br
                        br
                        | 4 липня 2017 року Кабінет Міністрів України затвердив Положення про наставництво, за яким можуть працювати всі Центри соціальних служб для сімей, дітей та молоді в Україні.
                        br
                        br
                        | Завдяки цим подіям Наставництво може масштабироваться в регіонах, щоб досягти головної мети - надати кожному, хто потребує дитині з інтернату Наставника.







    include ../templates/footer-log.pug