extends ../default.pug
block pageContent
		include ../templates/header-admin.pug
		.content
				section.admin-link-nav
						.container
								a.admin-link(href='') Особистий кабінет наставника >
								p.admin-link-title
										| Денис Сверидов
				section.contacts
						.contacts-container
								h2 Корисні контакти
								.contacts-search
										i.fas.fa-search
										input(type="text" placeholder="Почніть вводити назву організації або ключові слова")

								a.contacts-prof(href="") Перейти в розділ “Профорієнтація”


								.contacts-slide
										.owl-carousel.contacts-slider
												.question-slide
														.issues
																h3.issues-title ОО “Одна Надія”
																	img(src="../../img/cont-3.jpg", alt="")
																.issues-content
																		p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.
														.issues
																h3.issues-title Альянс “Україна без сиріт”
																	img(src="../../img/cont-3.jpg", alt="")
																.issues-content
																		p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.

														.issues
																h3.issues-title Приймальня Уповноваженого Президента з прав дитини
																	img(src="../../img/cont-3.jpg", alt="")
																.issues-content
																		p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.
												.question-slide
																.issues
																		h3.issues-title ОО “Одна Надія”
																			img(src="../../img/cont-3.jpg", alt="")
																		.issues-content
																				p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.
																.issues
																		h3.issues-title Альянс “Україна без сиріт”
																			img(src="../../img/cont-3.jpg", alt="")
																		.issues-content
																				p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.

																.issues
																		h3.issues-title Приймальня Уповноваженого Президента з прав дитини
																			img(src="../../img/cont-3.jpg", alt="")
																		.issues-content
																				p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.
				section.btn-box
						button.btn-active_dots
						button.btn_dots
						button.btn_dots
						button.btn_dots
						button.btn_dots
						button.btn_dots
						button.btn_dots
						button.btn_dots


		include ../templates/pre-footer.pug
		include ../templates/footer-log.pug