extends ../default.pug
block pageContent
    include ../templates/header-green-admin
    .content
        .container
            section.css-material
                .css-material-main
                    .css-material-info
                        .css-material-info-wrapp
                            .css-material-link
                                a(href='css-main.html') Головна
                                a(href='css-mentor.html') Наставники
                                a(href='css-social.html') Громадські організації
                                a(href='css-material.html') Матеріали

                            .css-material-title
                                p
                                    | в інтернатних закладах
                                    br
                                    | україни перебуває
                                    span  105 703 дітей

                                .css.counter
                                    .counter-numb 0
                                    .counter-numb 2
                                    .counter-numb 9
                                    .counter-numb 0
                                span
                                    | Дітей мають наставників
                                    br
                                    | (активно взаємодіють)

                    .css-material-img
                        img(src='img/happy-child.png')


                h2 Матеріали для закладів
                .css-material-wrapp
                    .css-material-left
                        .css-block-one
                            img(src='img/book.svg')
                            p Законодавча база
                            p Методологія
                            p Договори
                            p Література
                    .css-material-right
                        .css-material-page
                            .css-material-item
                                p
                                    | Закон України стосовно соціального захисту дітей-сиріт та дітей, позбавлених батьківського піклування
                                    br
                                    | (про Наставництво)
                                a(href='', target='_blank')
                                    img(src='img/download.svg', alt='')
                                    span Завантажити

                            .css-material-item
                                p Положення про Наставництво
                                a(href='', target='_blank')
                                    img(src='img/download.svg', alt='')
                                    span Завантажити
                            .css-material-item
                                p Методичні рекомендації з реалізації програми наставництва над дітьми
                                a(href='', target='_blank')
                                    img(src='img/download.svg', alt='')
                                    span Завантажити
                            .css-material-item
                                p Алгоритрм впровадження програми в області
                                a(href='', target='_blank')
                                    img(src='img/download.svg', alt='')
                                    span Завантажити

                            .css-material-item
                                p Договір про співробітництво між ОЦСССДМ та громадською організацією
                                a(href='', target='_blank')
                                    img(src='img/download.svg', alt='')
                                    span Завантажити

                            .css-material-item
                                p Договір про співробітництво між МЦСССДМ/РЦСССДМ та громадською організацією
                                a(href='', target='_blank')
                                    img(src='img/download.svg', alt='')
                                    span Завантажити

                            .css-material-item
                                p Крок за кроком 2 видання
                                a(href='', target='_blank')
                                    img(src='img/download.svg', alt='')
                                    span Завантажити

                .css-material-wrapp
                    .css-material-left
                        .css-block-two
                            img(src='img/video.svg')
                            p
                                | Як прийняти та
                                br
                                | обробити звернення
                                br
                                | від кандидата у
                                br
                                | наставники

                    .css-material-right
                        .css-material-video
                            iframe(width='640', height='420', src='https://www.youtube.com/embed/rReXd742OUE', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                            p Журнал обліку кандидатів у наставники
                            a(href='', target='_blank')
                                img(src='img/download.svg', alt='')
                                span Завантажити

                .css-material-wrapp
                    .css-material-left
                        .css-block-three
                            img(src='img/license.svg')
                            p
                                | Проведення
                                br
                                | інформаційної
                                br
                                |зустрічі

                    .css-material-right
                        .css-material-license
                            iframe(width='640', height='420', src='https://www.youtube.com/embed/rReXd742OUE', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                            p Вихованець: Кураченко Дмитро

                .css-material-wrapp
                    .css-material-left
                        .css-block-four
                            img(src='img/search-big.svg')
                            p
                                |Консультація з
                                br
                                | психологом

                    .css-material-right
                        .css-material-consult
                            iframe(width='640', height='420', src='https://www.youtube.com/embed/rReXd742OUE', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                            p
                                | Як отримати довідку про несудимість через Інтернет
                                br
                                | (дякуємо Смілянському ЦСССДМ за запис!)

                .css-material-wrapp
                    .css-material-left
                        .css-block-five
                            img(src='img/pen.svg')
                            p
                                | Проведення
                                br
                                | тренінгу

                    .css-material-right
                        .css-material-page
                            .css-material-item
                                p Загальний план роботи наставника з дитиною
                                a(href='', target='_blank')
                                    img(src='img/download.svg', alt='')
                                    span Завантажити

                            .css-material-item
                                p Анкета зворотного зв’язку наставника
                                a(href='', target='_blank')
                                    img(src='img/download.svg', alt='')
                                    span Завантажити

                .css-material-wrapp
                    .css-material-left
                        .css-block-six
                            img(src='img/wiping.svg')
                            p
                                | Взаємопідбір та
                                br
                                | ведення пари

                    .css-material-right
                        .css-material-page
                            .css-material-item
                                p Загальний план роботи наставника з дитиною
                                a(href='', target='_blank')
                                    img(src='img/download.svg', alt='')
                                    span Завантажити

                            .css-material-item
                                p Анкета зворотного зв’язку наставника
                                a(href='', target='_blank')
                                    img(src='img/download.svg', alt='')
                                    span Завантажити

                            .css-material-item
                                p Анкета зворотного зв’язку дитини
                                a(href='', target='_blank')
                                    img(src='img/download.svg', alt='')
                                    span Завантажити

                .css-material-wrapp
                    .css-material-left
                        .css-block-seven
                            img(src='img/wiping.svg')
                            p
                                | Підписання
                                br
                                | Договору

                    .css-material-right
                        .css-material-page
                            .css-material-item
                                p
                                    | Типовий договір про наставництво
                                    br
                                    | (між Наставником, Закладом та ЦСССДМ)

                                a(href='', target='_blank')
                                    img(src='img/download.svg', alt='')
                                    span Завантажити





    include ../templates/css-footer-log.pug