extends ../default.pug
block pageContent
    include ../templates/header-green
    .content
        section.css-video-mentor
            .container
                .css-video-mentor-wrapp
                    h3 Дізнайся як користуватися цією платформою
                    .css-video-mentor-video
                        iframe(width='720', height='453', src='https://www.youtube.com/embed/yovVWXkhaX4', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                    a(href='css-dating.html') Ок, я зрозумів. Ідемо далі


    include ../templates/css-footer-log