extends ../default.pug
block pageContent
		include ../templates/header-green-admin
		.content
				section.css-main
						.container
								.css-main-page
										.css-main-link
												a(href='css-main.html') Головна
												a(href='css-mentor.html') Наставники
												a(href='css-social.html') Громадські організації
												a(href='css-material.html') Матеріали
										.css-main-video
												iframe(width='720', height='453', src='https://www.youtube.com/embed/yovVWXkhaX4', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
												p Звернення Міністра

						.css-main-stat
								.container
										.css-main-wrapp
												h2 Статистика вашого ЦСССДМ
												div
														.css-main-item
															div.css-main-item_results
																p 37
																.css-main-circle
																	span 24%
															span
																	| Сертифікованих
																	br
																	| Наставників

														.css-main-item
															div.css-main-item_results
																p 37
																.css-main-circle
																	span 24%
															span
																	| Сертифікованих
																	br
																	| Наставників

														.css-main-item
															div.css-main-item_results
																p 37
																.css-main-circle
																	span 24%
															span
																	| Сертифікованих
																	br
																	| Наставників

														.css-main-item
																p 153
																span Подали заяву










		include ../templates/css-footer-log