extends ../default.pug
block pageContent
    include ../templates/header-green-admin.pug
    .content
        section.admin-link-nav
            .container
                a.admin-link(href='') Особистий кабінет наставника >
                p.admin-link-title
                    | Денис Сверидов

        .container
            section.question
                h2  Поширені запитання

                .question-search
                    i.fas.fa-search
                    input(type='text' placeholder='Почніть вводити запитання або ключові слова')

                .question-wrapp
                    .question-left
                        .owl-carousel.contacts-slider
                            .question-slide
                                .issues
                                    h3.issues-title Що робити з дитиною в установі?
                                    .issues-content
                                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.
                                .issues
                                    h3.issues-title Чи варто знайомиться з батьками дитини?
                                    .issues-content
                                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.

                                .issues
                                    h3.issues-title Мій вихованець піддається насильству в установі
                                    .issues-content
                                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.

                                .issues
                                    h3.issues-title Вихованець матюкається/курить, мені це не подобається.Що робити?
                                    .issues-content
                                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.

                                .issues
                                    h3.issues-title Що робити з дитиною в установі?
                                    .issues-content
                                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.

                            .question-slide
                                .issues
                                    h3.issues-title Що робити з дитиною в установі?
                                    .issues-content
                                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.
                                .issues
                                    h3.issues-title Чи варто знайомиться з батьками дитини?
                                    .issues-content
                                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.

                                .issues
                                    h3.issues-title Мій вихованець піддається насильству в установі
                                    .issues-content
                                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.

                                .issues
                                    h3.issues-title Вихованець матюкається/курить, мені це не подобається.Що робити?
                                    .issues-content
                                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.

                                .issues
                                    h3.issues-title Що робити з дитиною в установі?
                                    .issues-content
                                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.

                            .question-slide
                                .issues
                                    h3.issues-title Що робити з дитиною в установі?
                                    .issues-content
                                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.
                                .issues
                                    h3.issues-title Чи варто знайомиться з батьками дитини?
                                    .issues-content
                                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.

                                .issues
                                    h3.issues-title Мій вихованець піддається насильству в установі
                                    .issues-content
                                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.

                                .issues
                                    h3.issues-title Вихованець матюкається/курить, мені це не подобається.Що робити?
                                    .issues-content
                                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.

                                .issues
                                    h3.issues-title Що робити з дитиною в установі?
                                    .issues-content
                                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.



                    .question-right
                        .question-write
                            span Не знайшли своє запитання?
                            .question-line
                            p Задайте його фахівцям і ми постараємося дати на нього відповідь
                            textarea(rows='8')
                            button Надіслати





    include ../templates/pre-footer-contact
    include ../templates/css-footer-log.pug