extends ../default.pug
block pageContent
    include ../templates/header-green-log
    .content
        section.css-login
            .container
                .css-login-wrapp
                    h2
                        | Увійти
                        br
                        | до особистого кабінету
                    .css-login-form
                        form(action='')
                            input(type='email', placeholder='Email', required='')
                            input(type='password', placeholder='Пароль', required='')
                            button(type='submit') Увійти
                        .css-login-line
                        a(href='admin-room.html') Забули свій пароль?


    include ../templates/css-footer-log