extends ../default.pug
block pageContent
    include ../templates/header-green-admin
    .content
        .container
            section.team
                .team-link
                    a(href='css-social.html') Громадські організації >
                    p Денис Сверидов
                .team-card
                    h2 Історія взаємодії
                    .team-wrapp
                        .team-people
                            .team-people-item
                                img(src='img/mentor.jpg', alt='')
                                div
                                    h5 Наставник
                                    p Пестров Максим Петрович
                                    span 32 роки
                            .team-people-item
                                img(src='img/child.jpg', alt='')
                                div
                                    h5 Вихованець
                                    p Миронець Ігор Степанович
                                    span 12 років

                        // start card edit

                        //.team-card-title
                        //    div
                        //        h4 Статус пари:
                        //        .team-card-wrapp
                        //            div
                        //                select.triangle-green
                        //                    option Актив
                        //                    option Дыня
                        //                    option Тыква
                        //                span Дата початку взаємодії:
                        //                input(type='text')
                        //                span Дата відомої останньої зустрічі:
                        //                input(type='text')
                        //
                        //            div
                        //                span Відповідальний:
                        //                input(type='text')
                        //                span № Договору:
                        //                input(type='text')
                        //                span Інтернат:
                        //                input(type='text')
                        //    div
                        //        a(href='', title='Submit')
                        //            i.fas.fa-check
                        // end card edit


                        .team-card-title
                            div
                                h4 Статус пари:
                                .team-card-wrapp
                                    div
                                        select.triangle-green
                                            option Актив
                                            option Дыня
                                            option Тыква
                                        span Дата початку взаємодії:
                                        p 21 березня 2016 року
                                        span Дата відомої останньої зустрічі:
                                        p 11 січня 2017 року

                                    div
                                        span Відповідальний:
                                        p РЦСССДМ
                                        span № Договору:
                                        p LOTR 89
                                        span Інтернат:
                                        p Інтернат № 34
                            div
                                a(href='', title='Edit')
                                    i.fas.fa-pencil-alt
                    h3 Миронець Ігор Степанович
                    .team-medium-line
                    .team-dream-wrapp
                        .team-dream-item
                            span Мріє:
                            p Мріє поїхати у США
                        .team-dream-item
                            span Хоче стати:
                            p Лікарем
                        .team-dream-item
                            span Ненавидить:
                            p Залишатися один в дощь
                        .team-dream-item
                            span Інше:
                            p Має сестру
                        .team-dream-item
                            span Боїться:
                            p Павуків, кажанів
                        .team-dream-item
                            span Любить:
                            p Коли йому читають казки
                        .team-dream-item
                            span Сильні сторони :
                            p Не виявлено
                    .team-long-line
                    .team-local
                        span Установа:
                        p
                            | Спеціальна школа-інтернат №15 для дітей з наслідками поліомієліту та церебральними паралічами м.Києва
                        div
                            div
                                span Адреса:
                                p  пр. Перемоги, 113 г. Киев
                            div
                                span Телефони установи:
                                p (044) 450-92-55
                                p (044) 450-92-54
                                p (044) 450-92-55
                    .team-medium-line
                    .team-history
                        h3 Коротка історія дитини
                        .team-history-line
                        p
                            | У дитячий будинок Денис потрапив ще зовсім маленький. Його з сестрою залишили в лікарні під опікою лікарів, які потім віддали їх в дитячий будинок, звідки їх розібрали по різним сім'ям. Денис опинився в родині двох жінок, що мали фізичні відносини один з одним, а також пристрасті до алкоголю. Згодом його привезли в психіатричну лікарню ім. Павлова, залишили і поїхали, попередньо обговоривши з лікарем який діагноз йому поставити і відповідну вартість. Переживши багато неприємних моментів в сім'ї і лікарні, Дениса переміщують в притулок на вул. Маяковського. Він був розлючений і готовий до війни.
                            br
                            br
                            |            Після багатьох пережитих подій, за словами самого Дениса «ні любові ні довіри до людей в мені не було».
                    h2 Щоденник зустрічей
                    .team-carousel
                        .owl-carousel
                            .team-diary-wrapp
                                .team-diary(data-id=3)
                                    .team-diary-title
                                        h3 Були в зоопарку
                                        hr
                                        span 05. 04. 2018
                                        p
                                            | Ми побачили різних тварин. Вони позували нам, а ми робили чудові фотографії. Були там лев, рись, тигр, мавпочки, вовк, лисиця, пантера. Побачили дуже багато різних птахів, навіть хижаків сокола та орла. Здалеку ми спостерігали за верблюдом, остерігалися його поганої звички. А маленькі козенята їли з наших рук свіжу траву, її багато росте біля їхньої загорожі.
                                        .team-diary-more Читати далі
                                    .team-diary-img
                                        .owl-carousel
                                            .team-diary-carousel
                                                img.w-100(src='img/1.jpg')
                                            .team-diary-carousel
                                                img.w-100(src='img/2.jpg')
                                            .team-diary-carousel
                                                img.w-100(src='img/3.jpg')


                                .team-diary-content(data-id=3)
                                    h3 Були в зоопарку
                                    hr
                                    span 05. 04. 2018

                                    div
                                        span Опис:
                                        p Ми побачили різних тварин. Вони позували нам, а ми робили чудові фотографії. Були там лев, рись, тигр, мавпочки, вовк, лисиця, пантера. Побачили дуже багато різних птахів, навіть хижаків сокола та орла. Здалеку ми спостерігали за верблюдом, остерігалися його поганої звички. А маленькі козенята їли з наших рук свіжу траву, її багато росте біля їхньої загорожі.

                                    div
                                        span Спостереження за вихованцем:
                                        p Ми побачили різних тварин. Вони позували нам, а ми робили чудові фотографії. Були там лев, рись, тигр, мавпочки, вовк, лисиця, пантера. Побачили дуже багато різних птахів, навіть хижаків сокола та орла. Здалеку ми спостерігали за верблюдом, остерігалися його поганої звички. А маленькі козенята їли з наших рук свіжу траву, її багато росте біля їхньої загорожі.

                                    div
                                        span Замітка для наступної зустрічі:
                                        p Ми побачили різних тварин. Вони позували нам, а ми робили чудові фотографії. Були там лев, рись, тигр, мавпочки, вовк, лисиця, пантера. Побачили дуже багато різних птахів, навіть хижаків сокола та орла. Здалеку ми спостерігали за верблюдом, остерігалися його поганої звички. А маленькі козенята їли з наших рук свіжу траву, її багато росте біля їхньої загорожі.

                                    .team-diary-close Згорнути

                                .team-diary(data-id=4)
                                    .team-diary-title
                                        h3 Були в зоопарку
                                        hr
                                        span 05. 04. 2018
                                        p
                                            | Ми побачили різних тварин. Вони позували нам, а ми робили чудові фотографії. Були там лев, рись, тигр, мавпочки, вовк, лисиця, пантера. Побачили дуже багато різних птахів, навіть хижаків сокола та орла. Здалеку ми спостерігали за верблюдом, остерігалися його поганої звички. А маленькі козенята їли з наших рук свіжу траву, її багато росте біля їхньої загорожі.
                                        .team-diary-more Читати далі
                                    .team-diary-img
                                        .owl-carousel
                                            .team-diary-carousel
                                                img.w-100(src='img/1.jpg')
                                            .team-diary-carousel
                                                img.w-100(src='img/2.jpg')
                                            .team-diary-carousel
                                                img.w-100(src='img/3.jpg')


                                .team-diary-content(data-id=4)
                                    h3 Були в зоопарку
                                    hr
                                    span 05. 04. 2018

                                    div
                                        span Опис:
                                        p Ми побачили різних тварин. Вони позували нам, а ми робили чудові фотографії. Були там лев, рись, тигр, мавпочки, вовк, лисиця, пантера. Побачили дуже багато різних птахів, навіть хижаків сокола та орла. Здалеку ми спостерігали за верблюдом, остерігалися його поганої звички. А маленькі козенята їли з наших рук свіжу траву, її багато росте біля їхньої загорожі.

                                    div
                                        span Спостереження за вихованцем:
                                        p Ми побачили різних тварин. Вони позували нам, а ми робили чудові фотографії. Були там лев, рись, тигр, мавпочки, вовк, лисиця, пантера. Побачили дуже багато різних птахів, навіть хижаків сокола та орла. Здалеку ми спостерігали за верблюдом, остерігалися його поганої звички. А маленькі козенята їли з наших рук свіжу траву, її багато росте біля їхньої загорожі.

                                    div
                                        span Замітка для наступної зустрічі:
                                        p Ми побачили різних тварин. Вони позували нам, а ми робили чудові фотографії. Були там лев, рись, тигр, мавпочки, вовк, лисиця, пантера. Побачили дуже багато різних птахів, навіть хижаків сокола та орла. Здалеку ми спостерігали за верблюдом, остерігалися його поганої звички. А маленькі козенята їли з наших рук свіжу траву, її багато росте біля їхньої загорожі.

                                    .team-diary-close Згорнути

                            .team-diary-wrapp
                                .team-diary(data-id=5)
                                    .team-diary-title
                                        h3 Були в зоопарку
                                        hr
                                        span 05. 04. 2018
                                        p
                                            | Ми побачили різних тварин. Вони позували нам, а ми робили чудові фотографії. Були там лев, рись, тигр, мавпочки, вовк, лисиця, пантера. Побачили дуже багато різних птахів, навіть хижаків сокола та орла. Здалеку ми спостерігали за верблюдом, остерігалися його поганої звички. А маленькі козенята їли з наших рук свіжу траву, її багато росте біля їхньої загорожі.
                                        .team-diary-more Читати далі
                                    .team-diary-img
                                        .owl-carousel
                                            .team-diary-carousel
                                                img.w-100(src='img/1.jpg')
                                            .team-diary-carousel
                                                img.w-100(src='img/2.jpg')
                                            .team-diary-carousel
                                                img.w-100(src='img/3.jpg')


                                .team-diary-content(data-id=5)
                                    h3 Були в зоопарку
                                    hr
                                    span 05. 04. 2018

                                    div
                                        span Опис:
                                        p Ми побачили різних тварин. Вони позували нам, а ми робили чудові фотографії. Були там лев, рись, тигр, мавпочки, вовк, лисиця, пантера. Побачили дуже багато різних птахів, навіть хижаків сокола та орла. Здалеку ми спостерігали за верблюдом, остерігалися його поганої звички. А маленькі козенята їли з наших рук свіжу траву, її багато росте біля їхньої загорожі.

                                    div
                                        span Спостереження за вихованцем:
                                        p Ми побачили різних тварин. Вони позували нам, а ми робили чудові фотографії. Були там лев, рись, тигр, мавпочки, вовк, лисиця, пантера. Побачили дуже багато різних птахів, навіть хижаків сокола та орла. Здалеку ми спостерігали за верблюдом, остерігалися його поганої звички. А маленькі козенята їли з наших рук свіжу траву, її багато росте біля їхньої загорожі.

                                    div
                                        span Замітка для наступної зустрічі:
                                        p Ми побачили різних тварин. Вони позували нам, а ми робили чудові фотографії. Були там лев, рись, тигр, мавпочки, вовк, лисиця, пантера. Побачили дуже багато різних птахів, навіть хижаків сокола та орла. Здалеку ми спостерігали за верблюдом, остерігалися його поганої звички. А маленькі козенята їли з наших рук свіжу траву, її багато росте біля їхньої загорожі.

                                    .team-diary-close Згорнути

                                .team-diary(data-id=6)
                                    .team-diary-title
                                        h3 Були в зоопарку
                                        hr
                                        span 05. 04. 2018
                                        p
                                            | Ми побачили різних тварин. Вони позували нам, а ми робили чудові фотографії. Були там лев, рись, тигр, мавпочки, вовк, лисиця, пантера. Побачили дуже багато різних птахів, навіть хижаків сокола та орла. Здалеку ми спостерігали за верблюдом, остерігалися його поганої звички. А маленькі козенята їли з наших рук свіжу траву, її багато росте біля їхньої загорожі.
                                        .team-diary-more Читати далі
                                    .team-diary-img
                                        .owl-carousel
                                            .team-diary-carousel
                                                img.w-100(src='img/1.jpg')
                                            .team-diary-carousel
                                                img.w-100(src='img/2.jpg')
                                            .team-diary-carousel
                                                img.w-100(src='img/3.jpg')


                                .team-diary-content(data-id=6)
                                    h3 Були в зоопарку
                                    hr
                                    span 05. 04. 2018

                                    div
                                        span Опис:
                                        p Ми побачили різних тварин. Вони позували нам, а ми робили чудові фотографії. Були там лев, рись, тигр, мавпочки, вовк, лисиця, пантера. Побачили дуже багато різних птахів, навіть хижаків сокола та орла. Здалеку ми спостерігали за верблюдом, остерігалися його поганої звички. А маленькі козенята їли з наших рук свіжу траву, її багато росте біля їхньої загорожі.

                                    div
                                        span Спостереження за вихованцем:
                                        p Ми побачили різних тварин. Вони позували нам, а ми робили чудові фотографії. Були там лев, рись, тигр, мавпочки, вовк, лисиця, пантера. Побачили дуже багато різних птахів, навіть хижаків сокола та орла. Здалеку ми спостерігали за верблюдом, остерігалися його поганої звички. А маленькі козенята їли з наших рук свіжу траву, її багато росте біля їхньої загорожі.

                                    div
                                        span Замітка для наступної зустрічі:
                                        p Ми побачили різних тварин. Вони позували нам, а ми робили чудові фотографії. Були там лев, рись, тигр, мавпочки, вовк, лисиця, пантера. Побачили дуже багато різних птахів, навіть хижаків сокола та орла. Здалеку ми спостерігали за верблюдом, остерігалися його поганої звички. А маленькі козенята їли з наших рук свіжу траву, її багато росте біля їхньої загорожі.

                                    .team-diary-close Згорнути










    include ../templates/css-footer-log.pug