extends ../default.pug
block pageContent
    include ../templates/header.pug
    .content
        section.first-stage
            .container
                h2  Дякую за бажання стати Наставником для дитини
                .first-stage-wrapp
                    .stage-panel
                        img(src='img/family.svg', alt='')
                        span.stage-panel-start
                            | Зареєструватися
                            br
                            |  в ЦССССДМ
                        .stage-panel-active До наступного кроку
                        span.stage-panel-next
                            | Зібрати пакет
                            br
                            | документів
                        span.stage-panel-last Пройти навчання
                        span.stage-panel-finish
                            | Знайомство з дитиною,
                            br
                            |  підписання договору

                    .first-stage-info
                        .first-stage-btn Крок 1. Реєстрація
                        p 1. Звернися в Центр соціальних служб в твоєму районі:

                        .first-stage-place
                            input(type='text' placeholder='Львів')
                            select
                                option Центр социальних служб №1
                                option Центр социальних служб №2
                                option Центр социальних служб №3
                            .first-stage-place-wrapp
                                div
                                    p Телефон
                                    span +38 (063) 222 12 12
                                    span +38 (063) 222 22 12
                                div
                                    p Адреса
                                    span
                                        | м. Львів,
                                        br
                                        | вул. Богдана Божка 12

                        p
                            | 2. Роздрукуй свою анкету кандидата в наставники і
                            br
                            | візьми її з собою в Центр соц. служб, щоб заощадити
                            br
                            | свій час:

                        .first-stage-doc
                            a(href='' target='_blank')
                                img(src='img/download.svg', alt='')
                                span Завантажити

                            a(href='' target='_blank')
                                img(src='img/print.svg', alt='')
                                span Друкувати

                        .first-stage-btn Крок 2. Підготовка документів

                        p
                            | 1. Звернися в твоє регіональне відділення Міністерства
                            br
                            |  внутрішніх справ для отримання довідки про несудимість
                            br
                            |  або
                            a(href='')  замов її Online.
                            |   Знайди контактні дані на карті:


                        input(type='text' placeholder='Введіть вашу адресу, щоб знайти відділення поблизу')

                        .first-stage-map
                            iframe(src='https://www.google.com/maps/embed?pb', width='100%', height='100%', frameborder='8px', style='border:0', allowfullscreen='')

                        p
                            | 2. Пройди медогляд. Якщо тобі не дали форму для
                            br
                            | огляду, то ти можеш її завантажити тут:

                        .first-stage-doc
                            a(href='' target='_blank')
                                img(src='img/download.svg', alt='')
                                span Завантажити


                        p 3. Віднеси зібрані документи в Центр соціальних служб:
                        .first-stage-subt
                            span 1. Довідка про несудимість
                            span 2. Висновок про стан здоров'я


                        .first-stage-btn Крок 3. Підготовка до зустрічі

                        p
                            | 1. Пройди співбесіду з психологом Центру
                            br
                            | соціальних служб

                        .first-stage-social
                            p
                                | Запишися на співбесіду з психологом, а також, дізнайся
                                br
                                |  коли ти зможеш пройти тренінг для наставників
                            .first-stage-line
                            .first-stage-social-wrapp
                                img(src='img/old-phone.svg', alt='')
                                .first-stage-social-info
                                    p Контакти
                                    p +38 (063) 222 12 12
                                    p +38 (063) 222 12 12
                                    .first-stage-social-mail
                                        span nastavniki@gmail.com
                                        span info_nasta@gmail.com

                        p
                            | 2. Пройди тренінг для наставників.
                            br
                            | Його тривалість 4 дня

                        .first-stage-license
                            p Підтвердіть що ви пройшли тренінг
                            .first-stage-line-license
                            span
                                | Для цього введить свій ліцензійний номер
                                br
                                |  виданий Центром соціальних Служб:
                            input(type='text')
                            button Підтвердити

                        .first-stage-success
                            p Вітаємо!
                            .first-stage-success-line
                            span
                                | Ви успішно пройшли тренінг
                                br
                                |  для наставників!

                            i.far.fa-heart

                        .first-stage-btn Крок 4. Зустріч

                        p.mb-3 1. Знайомство з дитиною
                        p
                            | 2. Підписання договору.
                            br
                            | Ознайомся попередньо з договором
                        .first-stage-doc
                            a(href='' target='_blank')
                                img(src='img/download.svg', alt='')
                                span Завантажити











    include ../templates/footer-log.pug