extends ../default.pug
block pageContent
    include ../templates/gr-o-header-admin-two
    .content
        .container
            section.gr-o-css-admin.css-admin
                .css-admin-main
                    .css-admin-info.gr-o-css-admin-info
                        img(src='img/mentor.jpg')
                        div
                            h4
                                | Пеcтров Максим
                                br
                                | Вікторович
                            span Телефон:
                            p +38 (063) 234 12 11

                            span Email:
                            p Maks12_1@gmail.com
                    .css-admin-main-card.gr-o-css-admin-main-card
                        h5 Загальні відомості:
                        .css-admin-wrapp.gr-o-css-admin-wrapp
                            div
                                span Дата народження
                                p 25.03.1993 (25  років)

                                span Адреса фактичного місця проживання:
                                p пр. Перемоги, 113 г. Киев

                                span Адреса реєстрації:
                                p пр. Перемоги, 113 г. Киев

                                span Національність/Громадянство:
                                p Українець
                            div
                                span Віросповидання:
                                p Християнство

                                span Церква яку відвідує:
                                p Православна
                                p (Відвідує раз на тиждень)

                .css-admin-line
                .css-admin-life
                    .css-admin-left
                        .css-admin-card.gr-o-css-admin-card
                            h5 Стан здоров’я:
                            .css-admin-wrapp.gr-o-css-admin-wrapp
                                div
                                    span Я оцінюю свій стан здоров’я як
                                    p Задовільний

                                    .css-admin-wrapp-line
                                        div
                                            span Серйозні захворювання:
                                            p Ні
                                        div
                                            span Я ВІЛ-інфікований
                                            p Так


                                    span Перебуваю на обліку в:
                                    p
                                        | Терапевта
                                        br
                                        | (Лікарня №23, 3 місяці)

                        .css-admin-card.gr-o-css-admin-card
                            h5 Сімейний стан:
                            .css-admin-wrapp.gr-o-css-admin-wrapp
                                div
                                    p Одружений / одружена
                                    span Члени родини:
                                    p
                                        | Марія, жін, 33 р, дружина
                                        br
                                        | Олег, чол, 13 р, син

                    .css-admin-right
                        .css-admin-card.gr-o-css-admin-card
                            h5 Житлово-побутові умови:
                            .css-admin-wrapp.gr-o-css-admin-wrapp
                                div
                                    span Місце проживання на цей момент:
                                    p Приватний будинок

                                    .css-admin-wrapp-line
                                        div
                                            span Кількість кімнат:
                                            p 2
                                        div
                                            span К-сть осіб, які проживають в одній кімнаті:
                                            p 1

                                    span Інші члени сім’ї, які проживають разом зі мною:
                                    p
                                        | Марія, жін, 33 р, дружина
                                        br
                                        | Олег, чол, 13 р, син

                                    span Домашні тварини:
                                    p Кіт Мурчик

                .css-admin-line
                .css-admin-hobby
                    .css-admin-left
                        .css-admin-card.gr-o-css-admin-card
                            h5 Інтереси, хобі:
                            .css-admin-wrapp.gr-o-css-admin-wrapp
                                p Люблю узнавать что-то новое. Из моих увлечений можно перечислить спорт, чтение, путешествия. Кстати, именно любовь к путешествиям у меня часто сочетается с работой: я никогда не отказываюсь от командировок.



                        .css-admin-card.gr-o-css-admin-card
                            h5 Працевлаштування:
                            .css-admin-wrapp.gr-o-css-admin-wrapp
                                div
                                    span Місце роботи на цей момент:
                                    p ФОП “Курач О.С”, 2017-зараз, м.Київ, вул. Дніпровська 23, оф 15, 044 543 34 23
                                    strong Менеджер, робота з документами.

                                    span Причина звільнення:
                                    p За власним бажанням

                                    span Місце попередньої роботи:
                                    p ТОВ Тонус, 2014-2017, м.Київ, вул. Дніпровська 23, оф 15, 044 543 34 23
                                    strong Менеджер, робота з документами.

                                    span Причина звільнення:
                                    p За власним бажанням

                    .css-admin-right
                        .css-admin-card.gr-o-css-admin-card
                            h5 Освіта:
                            .css-admin-wrapp.gr-o-css-admin-wrapp
                                div
                                    span Загальноосвітня школа:
                                    p Київська ЗОШ №33, 2000-2010 р, повна середня освіта

                                    span Університет, інститут, технікум:
                                    p КПІ, 2010-2016 р, бакалавр, інженер-еколог

                                    span Додаткові курси, тренінги, семінари:
                                    p Skill Up, 2012-2013, тестувальник

                        .css-admin-card.gr-o-css-admin-card
                            h5 Досвід роботи з дітьми:
                            .css-admin-wrapp.gr-o-css-admin-wrapp
                                div
                                    span Організація:
                                    p ТОВ Тонус, 2014-2017, м.Київ, вул. Дніпровська 23, оф 15, 044 543 34 23
                                    strong Вихователь, робота з дітьми, 3-6 років

                .css-admin-line
                .css-admin-description
                    .css-admin-left
                        .css-admin-card.gr-o-css-admin-card
                            h5 Чому я хочу стати наставником?
                            .css-admin-wrapp.gr-o-css-admin-wrapp
                                p Люблю узнавать что-то новое. Из моих увлечений можно перечислить спорт, чтение, путешествия. Кстати, именно любовь к путешествиям у меня часто сочетается с работой: я никогда не отказываюсь от командировок.

                        .css-admin-card.gr-o-css-admin-card
                            h5 Я себе охарактеризовую так:
                            .css-admin-wrapp.gr-o-css-admin-wrapp
                                p Люблю узнавать что-то новое. Из моих увлечений можно перечислить спорт, чтение, путешествия. Кстати, именно любовь к путешествиям у меня часто сочетается с работой: я никогда не отказываюсь от командировок.

                        .css-admin-card.gr-o-css-admin-card
                            h5 Мої очікування від дитини, з якою я хочу взаємодіяти:
                            .css-admin-wrapp.gr-o-css-admin-wrapp
                                p Люблю узнавать что-то новое. Из моих увлечений можно перечислить спорт, чтение, путешествия. Кстати, именно любовь к путешествиям у меня часто сочетается с работой: я никогда не отказываюсь от командировок.


                    .css-admin-right
                        .css-admin-card.gr-o-css-admin-card
                            h5 Якості характеру, особливі знання та навички, які, на мою думку, можуть допомогти становленню та розвитку дитини із закладу?
                            .css-admin-wrapp.gr-o-css-admin-wrapp
                                p Люблю узнавать что-то новое. Из моих увлечений можно перечислить спорт, чтение, путешествия. Кстати, именно любовь к путешествиям у меня часто сочетается с работой: я никогда не отказываюсь от командировок.

                        .css-admin-card.gr-o-css-admin-card
                            h5 Я хочу допомагати дитині-сироті тому що:
                            .css-admin-wrapp.gr-o-css-admin-wrapp
                                p Люблю узнавать что-то новое. Из моих увлечений можно перечислить спорт, чтение, путешествия. Кстати, именно любовь к путешествиям у меня часто сочетается с работой: я никогда не отказываюсь от командировок.

                .css-admin-line
                .css-admin-rest.gr-o-css-admin-rest
                    div
                        h4 Напрямки наставництва за яким я бажаю допомагати дитині:
                        .css-card-check.gr-o-css-card-check
                            input#box3.css-font(type='checkbox', checked='checked')
                            label(for='box3') Напрям «Соціалізація»
                        .css-card-check.gr-o-css-card-check
                            input#box4.css-font(type='checkbox', checked='checked')
                            label(for='box4') Напрям «Профорієнтація»

                    div
                        h4 Як часто я можу відвідувати дитину в закладі?
                        span 1 раз на тиждень
                    div
                        h4 Чи погоджуюся я взаємодіяти з дитиною, яка має інвалідність?
                        span Так
                    div
                        h4 Зазвичай я вживаю:
                        span Алкоголь, 3 раза в тиждень
                    div
                        h4 Я вживав наркотики
                        span Конопля, 3 роки назад
                    div
                        h4 Я був засуджений
                        span Ні
                    div
                        h4 Я був позбавлений батьківських прав
                        span Ні
                    div
                        h4 Я дозволяю використовувати мої фотографії і коментарі, зроблені в процесі моєї участі в програмі, на інформаційних носіях, з метою популяризації ідеї наставництва
                        span Так
                    div
                        h4 Я дізнався про програму наставництва через
                        span Facebook або інші соціальні мережі
                    div
                        h4 Мені зручніше всього прийти на консультацію з психологом Центру соціальних служб або Партнерської організації в один з днів:
                        span Понеділок, після 12-ї
            section.endpage-admin
                input(type="submit" value="Распечатать")


    include ../templates/gr-o-footer-log.pug