extends ../default.pug
block pageContent
    include ../templates/header.pug
    .content.content-font
        section.main-mentor
            .container

                .main-mentor-wrapp
                    h1.main-title наставництв
                    .main-video
                        iframe(class="index-video" width='466', height='255', src='https://www.youtube.com/embed/lGhk0DfcN0M', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                .main-mentor-interactiv
                    .main-mentor-interactiv-item
                        p
                            | в інтернатних закладах
                            br
                            | україни перебуває

                            span  105 703 дітей

                    .main-mentor-interactiv-item
                        .wrapp-numb
                            .numb 0
                            .numb 0
                            .numb 4
                            .numb 7
                        span
                            | Дітей мають наставників

                    .main-mentor-interactiv-item
                        a(href='register-mentor.html')
                            | Стати наставником

        section.main-one
            .container
                .main-one-wrapp
                    .main-one-description
                        p
                            | Виходячи з інтернату,
                            span 90% випускників
                            |  не готові до самостійного життя.
                            br
                            |            Вони часто падають на дно соціуму і стають для нього загрозою.
                            br
                            br
                            |            У дорослому житті вихованці інтернатів схильні до ранніх статевих
                            br
                            |            стосунків / вагітності, скоєння злочинів, спроб самогубства, алкоголізму та наркоманії.
                            br
                            br
                            span Їх діти часто також потрапляють до інтернатних закладів.
                        h3 Хто розірве це замкнене коло?
                    .main-one-img
                        img(src="img/one.png", alt="")

        section.main-help
            .container
                h2
                    | саме ти можеш
                    br
                    | цьому запобігти
                .main-help-wrapp
                    .main-help-img
                        img.w-100(src='img/friend.png', alt='')
                    .main-help-priority
                        h3 наставництво це:
                        ul
                            li.main-check Дружба між одним дорослим і однією дитиною
                            li.main-check Регулярні зустрічі як на території установи, так і поза неї
                            li.main-check
                                | Це ефективна допомога дітям з інтернатних установ в соціалізації
                                br
                                | і адаптації їх до самостійного життя
                        span Змінити життя дитини
                        a(href='') Стань наставником

        section.main-history
            .container
                h2
                    | реальні історії
                    br
                    | наставництва
                .main-history-wrapp
                    .main-history-carousel
                        .main-carousel-homepage.owl-carousel
                            .main-history-card
                                .main-history-card-about
                                    .main-history-card-img
                                        img(src='img/family.jpg', alt='')
                                    .main-history-card-title
                                        h3 Оля та Аня
                                        p
                                            | Дитина після смерті батьків зовсім
                                            br
                                            | не розмовляла з оточуючими. Зараз вчиться на диктора.
                                .main-history-card-subtitle
                                    p
                                        | Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.

                            .main-history-card
                                .main-history-card-about
                                    .main-history-card-img
                                        img(src='img/family.jpg', alt='')
                                    .main-history-card-title
                                        h3 Оля та Аня
                                        p
                                            | Дитина після смерті батьків зовсім
                                            br
                                            | не розмовляла з оточуючими. Зараз вчиться на диктора.
                                .main-history-card-subtitle
                                    p
                                        | Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.

                            .main-history-card
                                .main-history-card-about
                                    .main-history-card-img
                                        img(src='img/family.jpg', alt='')
                                    .main-history-card-title
                                        h3 Оля та Аня
                                        p
                                            | Дитина після смерті батьків зовсім
                                            br
                                            | не розмовляла з оточуючими. Зараз вчиться на диктора.
                                .main-history-card-subtitle
                                    p
                                        | Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.

                .main-history-interactiv
                    p
                        | В твоїх руках створити ще
                        br
                        |  одну щасливу історію дитини!
                    a(href='') Ставай наставником

        section.main-donate
            .container
                h2
                    | наставництво це
                    br
                    | не спонсорство!
                .main-donate-wrapp
                    .main-donate-title
                        p
                            | Наставники допомагають дітям відчувати себе особистістю, визначити інтереси і здібності дитини, вибрати професію, придбати моральні цінності, вчать робити вибір, вирішувати повсякденні проблеми і спілкуватися з людьми.

        section.main-new-mentor
            .container
                .main-new-mentor-wrapp
                    h2 як стати наставником
                    .main-new-mentor-circle
                        .main-new-mentor-item
                            p.local-img
                                | Звернись
                                br
                                | до Центру соц. служб
                            .main-new-mentor-icon
                                img(src='img/local.png', alt='')

                        .main-new-mentor-item
                            p.file-img
                                | Збери необхідні
                                br
                                | документи
                            .main-new-mentor-icon
                                img(src='img/file.png', alt='')

                        .main-new-mentor-item
                            p.book-img
                                | Пройди
                                br
                                | навчання
                            .main-new-mentor-icon
                                img(src='img/book.png', alt='')

                        .main-new-mentor-item
                            p.filepen-img
                                | Підпиши
                                br
                                | договір
                            .main-new-mentor-icon
                                img(src='img/filepen.png', alt='')

                        .main-new-mentor-item
                            p.family-img
                                | Ти наставник
                                br
                                | для дитини!
                            .main-new-mentor-icon-blue
                                img(src='img/fami.png', alt='')


                    .main-new-mentor-btn
                        a(href='') Стати наставником
                        span
                            | Після реєстрації ми будемо
                            br
                            | супроводжувати тебе на
                            br
                            | кожному етапі, не вагайся!

        section.main-be-mentor
            .container
                h2
                    | перевір, чи можеш ти
                    br
                    | стати наставником

                .main-be-mentor-wrapp
                    .main-be-mentor-line
                        p.block-left нi
                        p.block-center Тобі є 18 років?
                        p.block-right так

                    .main-be-mentor-line-top
                        p.block-left
                            | Ти готовий
                            br
                            |  допомогати не
                            br
                            |  конкретній дитині,
                            br
                            |  а наставництву
                            br
                            |  вцілому

                        p.test Так
                          span.test-span

                        p.block-center так
                        div
                            p.block-right
                                | Ти був засуджений?
                            p.block-right-bottom нi

                    .main-be-mentor-line-bottom
                        div
                            p.block-left ні
                            p.block-left-bottom нi

                        p.block-center
                            | Бажаєш провести майстер-клас для дітей, або допомогти їм профорієнтуватися?

                        p.block-middle нi

                        p.block-right
                            | Ти готовий вiдвiдувати дитину щотижня i витрачати на це близько 3 годин?

                    .main-be-mentor-line-text
                        p.block-left
                            | Нажаль, ти не можеш
                            br
                            |  стати наставником,
                            br
                            |  але ти можеш
                            br
                            | розповісти про
                            br
                            |  наставництво іншим
                            br
                            | прямо зараз!
                        .test-two
                          p Так
                          p Ти можеш допомогти дітям іншим способом
                        p.block-middle так
                        p.block-right
                            | Вітаємо! наразі
                            br
                            |  немає перепон для
                            br
                            |  того, щоб ти став
                            br
                            |  наставником!

                    .main-be-mentor-line-btn
                        .link-wrapp
                            a.link-wrapp-face(href='')
                                i.fab.fa-facebook-f
                            a.link-wrapp-tweet(href='')
                                i.fab.fa-twitter
                            a.link-wrapp-google(href='')
                                i.fab.fa-google-plus-g
                        a.link-wrapp-btn-blue(href='')
                            | Допомогти
                            br
                            | наставництву
                        a.link-wrapp-btn-yellow(href='') Стати наставником

        section.main-mentor-issues
            .container
                h2 найчастіше запитання
                .issues
                    h3.issues-title Чи можу я сам обрати дитину?
                    .issues-content
                       p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.
                .issues
                    h3.issues-title Чи можу я сам обрати дитину?
                    .issues-content
                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.
                .issues
                    h3.issues-title Чи можу я сам обрати дитину?
                    .issues-content
                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.
                .issues
                    h3.issues-title Чи можу я сам обрати дитину?
                    .issues-content
                        p Действия представителей оппозиции, инициированные исключительно синтетически, разоблачены. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему тщательные исследования конкурентов могут быть своевременно верифицированы. В рамках спецификации современных стандартов, предприниматели в сети интернет в равной степени предоставлены сами себе. В своем стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для существующих финансовых и административных условий.

                a(href='') Стати наставником









    include ../templates/footer.pug