extends ../default.pug
block pageContent
    include ../templates/header-log.pug
    .content
        section.log-in
            .container
                .log-in-wrapp
                    h2
                        | Увійти
                        br
                        | до особистого кабінету
                    .log-in-form
                        form(action='')
                            input(type='email', placeholder='Email', required='')
                            input(type='password', placeholder='Пароль', required='')
                            button(type='submit') Увійти
                        .log-in-line
                        a(href='admin-room.html') Забули свій пароль?


    include ../templates/footer-log.pug