extends ../default.pug
block pageContent
    include ../templates/header-admin.pug
    .content
        section.admin-link-nav
            .container
                a.admin-link(href='') Особистий кабінет наставника >
                p.admin-link-title
                    | Денис Сверидов

        section.video-all
            .container
                .owl-carousel
                    .video-all-wrapp
                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box1.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box1') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box2.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box2') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box3.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box3') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box4.with-font(type='checkbox')
                                        label.video-all-check-name(for='box4') Ще не переглянуто
                                    a.video-all-btn(href='') Переглянути
                    .video-all-wrapp
                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box1.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box1') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box2.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box2') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box3.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box3') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box4.with-font(type='checkbox')
                                        label.video-all-check-name(for='box4') Ще не переглянуто
                                    a.video-all-btn(href='') Переглянути
                    .video-all-wrapp
                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box1.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box1') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box2.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box2') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box3.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box3') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box4.with-font(type='checkbox')
                                        label.video-all-check-name(for='box4') Ще не переглянуто
                                    a.video-all-btn(href='') Переглянути
                    .video-all-wrapp
                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box1.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box1') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box2.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box2') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box3.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box3') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box4.with-font(type='checkbox')
                                        label.video-all-check-name(for='box4') Ще не переглянуто
                                    a.video-all-btn(href='') Переглянути
                    .video-all-wrapp
                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box1.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box1') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box2.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box2') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box3.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box3') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box4.with-font(type='checkbox')
                                        label.video-all-check-name(for='box4') Ще не переглянуто
                                    a.video-all-btn(href='') Переглянути
                    .video-all-wrapp
                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box1.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box1') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box2.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box2') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box3.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box3') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box4.with-font(type='checkbox')
                                        label.video-all-check-name(for='box4') Ще не переглянуто
                                    a.video-all-btn(href='') Переглянути
                    .video-all-wrapp
                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box1.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box1') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box2.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box2') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box3.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box3') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box4.with-font(type='checkbox')
                                        label.video-all-check-name(for='box4') Ще не переглянуто
                                    a.video-all-btn(href='') Переглянути
                    .video-all-wrapp
                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box1.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box1') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box2.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box2') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box3.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box3') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box4.with-font(type='checkbox')
                                        label.video-all-check-name(for='box4') Ще не переглянуто
                                    a.video-all-btn(href='') Переглянути

                    .video-all-wrapp
                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box5.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box5') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box6.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box6') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box7.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box7') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box8.with-font(type='checkbox')
                                        label.video-all-check-name(for='box8') Ще не переглянуто
                                    a.video-all-btn(href='') Переглянути

                    .video-all-wrapp
                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box9.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box9') Переглянуто
                                    a(href='') Переглянути ще раз

                        .video-all-card
                            h2 Як боротися з маніпуляціями дитини?
                            .video-all-line
                            .video-all-content
                                img(src='img/test1.jpg', alt='')
                                .video-all-link
                                    .video-all-check
                                        input#box9.with-font(type='checkbox' checked='checked')
                                        label.video-all-check-name(for='box9') Переглянуто
                                    a(href='') Переглянути ще раз



    include ../templates/pre-footer-contact
    include ../templates/footer-log.pug