extends ../default.pug
block pageContent
    include ../templates/header.pug
    .content
        section.video-mentor
            .container
                .video-mentor-wrapp
                    h3
                        | Коротко про Наставництво.
                        br
                        | Як стати наставником. Що це за особистий кабінет.
                    .video-mentor-video
                        iframe(width='720', height='453', src='https://www.youtube.com/embed/yovVWXkhaX4', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                    a(href='page-form.html') Ок, я зрозумів. Ідемо далі







    include ../templates/footer.pug