.css {
  &-input{
    &-name{
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 1px;
      color: $grafit-color;
      border: 0;
      width: 180px;
      line-height: 0;
    }
    &-prename{
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 1px;
      color: $grafit-color;
      border: 0;
      width: 180px;
      line-height: 0;
    }
    &-birth{
      font-size: 14px;
      letter-spacing: 0.46px;
      color: $grafit-color;
      border: 0;
      line-height: 0;
    }
    &-card{
      font-size: 12px;
      letter-spacing: 0.56px;
      margin-bottom: 10px;
      border: 0;
    }
  }
  &-card {
    display: none;
    margin-bottom: 20px;
    &-bage{
      line-height: 1.1;
      font-size: 9px;
      letter-spacing: 0.5px;
      width: 120px;
      padding: 10px;
      position: absolute;
      background: #fff;
      top: 35px;
      right: 18px;
      box-shadow: 0 2px 5.2px 0.8px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      z-index: 1;
      display: none;
      color: $grafit-color;
      margin-bottom: 0;
      &::before{
        content: ' ';
        position: absolute;
        left: 10px;
        bottom: -10px;
        border-left: 10px solid #fff;
        border-bottom: 10px solid transparent;
        border-top: 1px solid #fff;
        filter: drop-shadow(-3.7px 4.7px 2.7px rgba(0, 0, 0, 0.15));
      }
    }
    &-img{
      display: flex;
      align-items: center;
    }
    &-content{
      display: none;
    }
    &-all{
      cursor: pointer;
      color: $css-color;
      text-decoration: underline;
      text-align: right;
      margin-bottom: 30px;
    }
    &-check{
      &-wrapp{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin:0 0 45px 20px;
      }
      font-size: 14px;
      letter-spacing: 0.54px;
      & > label{
        margin-bottom: 0;
        &:last-child{
          margin-right: 50px;
        }
      }
    }
    &-subtitle{
      &-all{
        display: block;
        text-align: right;
        color: #fff;
        text-decoration: underline;
        font-size: 13px;
        letter-spacing: 0.54px;
        cursor: pointer;
      }
      &-content{
        display: none;
        & p{
          font-size: 13px;
          letter-spacing: 0.54px;
          margin-bottom: 5px;
        }
      }
      & > span{
        opacity: 0.5;
        color: #000000;
        font-size: 14px;
        letter-spacing: 0.97px;
        display: block;
        margin:0 0 5px 20px;
        font-weight: 500;
      }
      & > div{
        background: $css-color;
        color: #fff;
        border-radius: 8px;
        box-shadow: -2px -1px 9px 0 rgba(0,0,0,0.17);
        padding: 20px 30px;
        margin-bottom: 20px;
        & > h5{
          font-size: 13px;
          letter-spacing: 0.54px;
          text-transform: uppercase;
        }
        & > p{
          font-size: 13px;
          letter-spacing: 0.54px;
          margin-bottom: 5px;
        }
      }
    }
    &-stat{
      &-wrapp{
        display: flex;
        justify-content: space-between;
        & > div{
          width: 49%;
          position: relative;
          z-index: 1;
          & > a{
            width: 160px;
            border-radius: 4px;
            background-color: $css-color;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0.56px;
            padding: 9px 18px;
          }
          & > select{
            font-size: 12px;
            letter-spacing: 0.56px;
            border: 0;
            padding: 0px 30px 0px 0px;
            position: relative;
            bottom: 3px;
            right: 3px;
            margin-bottom: 10px;
          }
          & > span{
            color: $css-color;
            display: block;
            font-size: 12px;
            letter-spacing: 0.46px;
            font-weight: bold;
            margin-bottom: 10px;
          }
          & > p{
            font-size: 12px;
            letter-spacing: 0.56px;
            & > a{
              margin-left: 8px;
              &:hover .css-card-bage{
                display: block;
              }
              & i{
                color: $css-color;
                font-size: 14px;
                &:hover{
                  color: #0FAD19;
                }
              }
            }
          }
        }
      }
    }
    &-line{
      width: 100%;
      height: 1px;
      background: rgba(151,151,151,0.23);
      margin-bottom: 30px;
    }
    &-edit {
      margin-left: auto;
      & > a {
        @include flex-center-center;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: $css-color;
        color: #fff;
      }
    }
    &-title {
      & > h2 {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0.8px;
        color: $css-color;
      }
      & > p {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
        color: $grafit-color;
        line-height: 1;
        margin-bottom: 10px;
        &:last-child {
          font-size: 14px;
          letter-spacing: 0.46px;
          margin-bottom: 0;
          font-weight: initial;
        }
      }
      & span {
        display: block;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 0.33px;
        margin-bottom: 2px;
      }
    }
    &-info {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 30px;
    }
    &-img {
      & > img {
        height: 133px;
        width: 108px;
        object-fit: cover;
        border-radius: 8px;
        margin-right: 50px;
      }
    }
    &-wrapp {
      display: flex;
      justify-content: space-between;
      padding: 5px;
    }
    &-left {
      border-radius: 8px;
      background-color: #FFFFFF;
      box-shadow: -2px -1px 9px 0 rgba(0, 0, 0, 0.17);
      width: 475px;
      padding: 40px 25px 75px 55px;
      height: 100%;
    }
    &-right {
      width: 602px;
      border-radius: 8px;
      background-color: #FFFFFF;
      box-shadow: -2px -1px 9px 0 rgba(0, 0, 0, 0.17);
      padding: 40px 25px 75px 55px;
      height: 100%;
      & textarea{
        width: 100%;
        background: transparent;
        border: 0;
        font-size: 13px;
        letter-spacing: 0.54px;
        color: #fff;
        &::placeholder{
          color: #fff;
        }
      }
      & .css-input-card{
        border: 0;
        color: #949494;
        font-size: 14px;
        letter-spacing: 0.97px;
        margin:0 0 20px 30px;
      }
      & .access-no{
        margin:0 0 20px 20px;
        & > p{
          color: #949494;
          font-size: 14px;
          letter-spacing: 0.97px;
          margin-bottom: 0;
          & > span{
            opacity: 1;
            color: #000;
          }
        }
      }
      & .access-yes{
        margin:0 0 20px 20px;
        & input{
          width: 100%;
          border-radius: 2px;
          background-color: #E2EDF0;
          border: 0;
          padding: 15px 25px;
          margin-bottom: 15px;
        }
        & button{
          background: $css-color;
          border: 0;
          margin: 0 auto 30px;
          display: block;
          color: #fff;
          border-radius: 8px;
          width: 195px;
          text-align: center;
          font-weight: bold;
          padding: 16px 0;
        }
      }
      & .contract{
        &-wrapp{
          display: flex;
          justify-content:flex-start;
          margin:0 0 20px 20px;
        }
        &-num{
          margin-right: 100px;
          & span{
            font-size: 15px;
            letter-spacing: 1.04px;
            margin-bottom: 15px;
            color: $css-color;
            font-weight: 500;
            display: block;
          }
          & p{
            font-size: 14px;
            letter-spacing: 0.54px;
            font-weight: 500;
          }
        }
        &-date{
          & span{
            font-size: 15px;
            letter-spacing: 1.04px;
            margin-bottom: 15px;
            color: $css-color;
            font-weight: 500;
            display: block;
          }
          & p{
            font-size: 14px;
            letter-spacing: 0.54px;
            font-weight: 500;
          }
        }
      }
      & > label{
        margin-bottom: 20px;
        & > span{
          font-size: 15px;
          letter-spacing: 1.04px;
          color: $css-color;
          margin: 0 10px 0 25px;
          display: block;
          position: relative;
          bottom: 2px;
        }
        & input[type="radio"]:checked:after{
          background: $css-color!important;

        }
      }
      & > span{
        font-size: 15px;
        letter-spacing: 1.04px;
        color: $css-color;
        font-weight: 500;
        display: block;
        margin:0 0 15px 20px;
      }
      & > p{
        font-size: 14px;
        letter-spacing: 0.54px;
        font-weight: 500;
        margin:0 0 30px 20px;
      }
      & .css-card-edit{
        width: 30px;
      }
    }
  }

  &-mentor {
    margin-bottom: 120px;
    position: relative;
    z-index: 1;
    &::before {
      background-image: url(../img/css-bg.svg);
      background-repeat: no-repeat;
      position: absolute;
      content: "";
      background-size: 50%;
      height: 100%;
      width: 100%;
      z-index: -1;
      right: 100px;
      top: 80px;
    }
    &-main {
      display: flex;
      justify-content: space-between;
    }
    &-add {
      width: 160px;
      text-align: center;
      display: block;
      cursor: pointer;
      & > i {
        @include flex-center-center;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: $css-color;
        color: #fff;
        margin: 0 auto;
      }
      & > span {
        display: block;
        font-size: 15px;
        letter-spacing: 1.04px;
        color: $grafit-color;
      }
    }
    &-search {
      width: 680px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background: #E2EDF0;
      border-radius: 2px;
      padding: 18px 35px;
      margin-bottom: 18px;
      & > input {
        border: 0;
        background: transparent;
        width: 100%;
        margin-left: 30px;
        &::placeholder {
          opacity: 0.4;
          font-size: 15px;
          letter-spacing: 1.04px;
        }
      }
    }
    &-title {
      & > p {
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0.83px;
        text-transform: uppercase;
        line-height: 1.3;
        margin-bottom: 60px;
        & > span {
          color: $css-color;
        }
      }
      & > span{
        font-size: 20px;
        letter-spacing: 1.14px;
        font-weight: 500;
        line-height: 1.3;
      }
    }
    &-link {
      margin-right: 35px;
      & > a {
        width: 250px;
        border-radius: 8px;
        background-color: $css-color;
        box-shadow: -2px -1px 9px 0 rgba(0, 0, 0, 0.17);
        padding: 20px 0;
        color: #fff;
        display: block;
        text-align: center;
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1.04px;
        line-height: 18px;
      }
    }
    &-info {
      padding: 110px 0 0;
      z-index: 1;
      &-wrapp {
        display: flex;
        justify-content: flex-start;
        width: 760px;
        margin-bottom: 100px;
      }
    }
    &-img {
      position: relative;
      right: 190px;
      & > img {
        width: 570px;
      }
    }
  }
  &-table {
    &-mentor {
      &-line {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
      }
    }
    &-header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      background: $css-color;
      border-radius: 8px;
      color: #fff;
      padding: 20px 0;
      font-size: 15px;
      letter-spacing: 1.04px;
      line-height: 1.3;
      text-align: center;
      margin-bottom: 20px;
    }
    &-block {
      &-mentor {
        width: 248px;
        @include simple-block;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        & span {
          cursor: pointer;
          margin: 0 15px 0 20px;
        }
      }
      &-stat {
        & select {
          width: 213px;
          padding: 0px 30px 0px 15px;
          border: 0;
          @include simple-block;
        }
      }
      &-license {
        width: 213px;
        @include simple-block;
        @include flex-center-center;
      }
      &-doc {
        width: 164px;
        @include simple-block;
        @include flex-center-center;
      }
      &-respon {
        & select {
          width: 213px;
          padding: 0 15px;
          border: 0;
          @include simple-block;
        }
      }
    }
    &-title {
      &-mentor {
        width: 248px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        & > span {
          margin: 0 10px 0 50px;
        }
      }
      &-stat {
        width: 213px;
      }
      &-license {
        width: 213px;
      }
      &-doc {
        width: 164px;
      }
      &-respon {
        width: 213px;
      }
    }
    &-line {
      width: 2px;
      background: #fff;
      height: 45px;
    }
  }
}

.mentor-phone {
  display: none;
  color: $css-color;
  font-weight: 500;
}

.sort-mentor {
  cursor: pointer;
}

.mentor-title {
  cursor: pointer;
  &:hover {
    color: #0FAD19;
  }
}


.css-check-single{
  input[type="radio"]:before {
    content: " ";
    display: block;
    background-color: white;
    border: 1px solid #D8D8D8;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 100px;
    visibility: initial;
  }
  input[type="radio"]:after {
    content: " ";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 4px;
    visibility: initial;
    background-color: #ffffff;
    transition: background-color 0.2s ease-in-out;
  }
  input[type="radio"]:checked:after {
    background: $css-color;
  }


}


.css-card-check{
  input[type=radio].css-font,
  input[type=checkbox].css-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    cursor: pointer;
  }

  input[type=radio].css-font ~ label:before,
  input[type=checkbox].css-font ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    letter-spacing: 10px;
    color: #aaa;
    width: 1.4em;
    cursor: pointer;
  }
  input[type=checkbox].css-font ~ label:before {
    content: "\f096";
    cursor: pointer;
  }
  input[type=checkbox].css-font:checked ~ label:before {
    content: "\f046";
    color: $css-color;
    cursor: pointer;
  }

}


.triangle-green{
  @include triangle-green;
}