.header{
  font-family: $second-font;
  box-shadow: 0 2px 35px 0 rgba(165,164,164,0.5);
  &-wrapp{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & li{
      display: inline-block;
      padding: 0 20px;
      line-height: 1.2;
    }
    &-link{
      margin-bottom: 0;
      display: flex; /* поправил на flex */
      text-decoration: none;
      &dropdown{
        position: relative;
        &::before{
          content: "";
          width: 100%;
          position: absolute;
          height: 25%;
          left: 0;
          background: #fff;
          z-index: 6;
          top: 75%;
        }
        &:hover{
          box-shadow: 0 2px 35px 0 rgba(165,164,164,0.5);
        }
        &:hover .header-link{
          background: white;
        }
        & .header-link{
          display: flex;
          align-items: center;
        }
      }
      &dropdown:hover .header-dropdown{
        display: block;
      }
    }
  }
  &-dropdown{
    width: 100%;
    left: 0;
    text-align: center;
    display: none;
    position: absolute;
    top: 100%;
    background:#fff;
    z-index: 5;
    box-shadow: 0 2px 35px 0 rgba(165,164,164,0.5);
    &-link{
      display: block;
      padding:10px 0;
      color: $grafit-color;
      text-align: center;
    }
  }
  &-link{
    color: $black-color;
    font-size: 15px;
    letter-spacing: 0.95px;
    padding: 27px 0;
    display: block;
    line-height: 1.2;
    & .active{
      box-shadow: 0 2px 35px 0 rgba(165,164,164,0.5);
    }
  }
  &-logo{
    margin-right: 40px;
  }
  &-login{
    color: $main-color;
    font-weight: 500;
  }
  &-donate{
    @include blue-btn;
    margin: 0 0 0 40px;
  }
  &-btn{
    display: flex;
    align-items: center;
  }
  &-trigger{
    display: none;
  }
}


@media screen and (max-width: 480px) {
  .header-trigger {
    display: block;
  }

  .header-wrapp ul {
    display: none;
  }

  .header-wrapp li {
    display: block;
    text-align: center;
  }
}
