#stage{
  transform: translate3d(0, 0, 0);
  transition: all 300ms;
}
section#section3{
  padding-top: 45px;
}
.active{
  opacity: 1 !important;
}
.stage-panel-start{
  opacity: .5;
}
.stage-panel-two span.stage-panel-next{
  opacity: .5;
}
.stage-panel-two span.stage-panel-last{
  opacity: .5;
}
.first-stage-form_box{
  margin-top:40px;
  max-width: 600px;
  padding: 50px 65px;
  border-radius: 8px;
  margin-bottom: 35px;
  background-color: #FFFFFF;
  box-shadow: -2px -1px 9px 0 rgba(0,0,0,0.17);
  &-title{
    color: #3DA3DB;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.9px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 35px;
  }
}
.first-stage-result_box{
  margin-top: 35px;
  display: flex;
  & > div > p:first-child{
    color: #000000;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.2px;
    line-height: 21px;
    margin-bottom: 15px;
  }
  & > div{
    width: 50%;
  }
  & > div > p {
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.06px;
    line-height: 26px;
    margin-bottom: 0px;
  }
}
.second-stage{
  padding: 100px 0 185px;
  position: relative;
  z-index: 1;
  &::before{
    background-image: url(../img/bg-video.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  &-wrapp{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
  }
  &-doc{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 45px;
    & > a{
      display: flex;
      align-items: center;
      color: $main-color;
      text-decoration: underline;
      font-size: 15px;
      letter-spacing: 0.83px;
      & > span{
        display: block;
        margin-left: 10px;
      }
      & > img{
        width: 20px;
        margin-left: 20px;
      }
    }

  }
  &-btn{
    background:#3DA3DB;
    width: 570px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1.66px;
    border-radius: 8px;
    padding: 15px 0;
    color: $white-color;
    margin-bottom: 40px;
  }
  & h2{
    color: $grafit-color;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.16px;
    text-align: center;
    margin-bottom: 90px;
  }
  &-info{
    & > a {
      & img{
        width: 20px;
      }
    }
    & > p{
      font-size: 20px;
      letter-spacing: 1.38px;
      color: $black-color;
      margin-bottom: 0;
      & > a{
        color: $main-color;
        text-decoration: underline;
      }
    }
    & > input{
      width: 505px;
      border: 0;
      padding: 10px 30px;
      display: block;
      background: #E2EDF0;
      margin: 30px 0;
    }
  }
  &-subt{
    margin-bottom: 45px;
    & > span{
      display: block;
      margin:5px 0 0 40px;
      font-size: 20px;
      letter-spacing: 1.38px;
      color: $black-color;
    }
  }
  &-place{
    padding: 60px 90px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: -2px -1px 9px 0 rgba(0,0,0,0.17);
    margin: 45px 0;
    &-wrapp{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      & > div:first-child{
        margin-right: 80px;
      }
      &  p{
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1.2px;
        color: $black-color;
      }
      & span{
        color: $black-color;
        display: block;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.06px;
      }
    }
    & > input{
      width: 100%;
      padding: 10px 30px;
      display: block;
      background: #E2EDF0;
      border: 0;
      border-radius: 2px;
      margin-bottom: 20px;
    }
    & > select{
      width: 100%;
      padding: 10px 30px;
      display: block;
      background: $white-color;
      border: 0;
      border-radius: 2px;
      margin-bottom: 40px;
      box-shadow: -1px 1px 6px -2px rgba(0,0,0,0.5);
    }
  }
  &-map{
    background-color: #FFFFFF;
    box-shadow: -2px -1px 9px 0 rgba(0,0,0,0.17);
    height: 300px;
    margin-bottom: 45px;
  }
  &-social{
    border-radius: 8px;
    box-shadow: -2px -1px 9px 0 rgba(0,0,0,0.17);
    padding: 50px 50px 40px;
    margin: 15px 0 45px;
    width: 568px;
    &-mail{
      margin-top: 5px;
      & > span{
        display: block;
        font-size: 18px;
        letter-spacing: 1.2px;
      }
    }
    &-info{
      & > p{
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1.2px;
        margin-bottom: 0;
        &:first-child{
          font-weight: bold;
          font-size: 20px;
          letter-spacing: 1.33px;
          margin-bottom: 30px;
        }
      }

    }
    & > p{
      font-size: 15px;
      letter-spacing: 1.04px;
      color: $black-color;
      text-align: center;
      margin-bottom: 20px;
    }
    &-wrapp{
      display: flex;
      justify-content:flex-start;
      align-items: center;
      & > img{
        width: 168px;
        margin: 0 50px 0 25px;
      }
    }
  }
  &-line{
    width: 100%;
    height: 1px;
    background:rgba(151,151,151,0.23);
    margin-bottom: 40px;
    &-license{
      width: 100%;
      height: 1px;
      background:rgba(151,151,151,0.23);
      margin-bottom: 25px;
    }
  }
  &-license{
    border-radius: 8px;
    box-shadow: -2px -1px 9px 0 rgba(0,0,0,0.17);
    padding: 50px 67px 60px;
    margin: 15px 0 45px;
    width: 568px;
    & > p{
      color: $main-color;
      text-align: center;
      font-size: 15px;
      letter-spacing: 1.04px;
      margin-bottom: 10px;
    }
    & > span{
      font-size: 15px;
      letter-spacing: 1.2px;
      display: block;
      color: $black-color;
      text-align: center;
      line-height: 1.2;
      margin-bottom: 30px;
    }
    & > input{
      width: 100%;
      padding: 10px 30px;
      display: block;
      background: #E2EDF0;
      border: 0;
      border-radius: 2px;
      margin-bottom: 40px;
    }
    & > button{
      @include blue-btn;
      border: 0;
      margin: 0 auto;
    }
  }
}


.stage-panel-two{
  background: #3DA3DB;
  width: 425px;
  padding: 75px 60px;
  border-radius: 8px;
  margin-right: 50px;
  height: 100%;
  & img{
    width: 95px;
    display: block;
    margin: 0 auto 40px;
  }
  & .stage-panel-next{
    opacity: 1;
  }
}