.video-mentor{
  padding: 100px 0;
  position: relative;
  z-index: 1;
  &::before{
    background-image: url(../img/bg-video.png);
    background-repeat: no-repeat;
    background-position: 50% 85%;
    background-size: 100%;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  &-wrapp{
    text-align: center;
    & a{
      @include blue-btn;
      height: 55px;
      width: 273px;
      display: block;
      margin: 0 auto;
      @include flex-center-center;
    }
  }
  &-video{
    //width: 720px;
    //height: 453px;
    margin: 0 auto 40px;
  }

  & h3{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.16px;
    text-align: center;
    color: $grafit-color;
    margin-bottom: 20px;
  }
}