.team {
  width: 1055px;
  margin: 0 auto;
  padding: 50px 100px;
  &-link{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    & a{
      color: #7C7D7E;
      display: block;
      font-size: 12px;
      letter-spacing: 0.83px;
      font-weight: 500;
      &:hover{
        color: $css-color;
      }
    }
    & p{
      color: $css-color;
      font-size: 12px;
      letter-spacing: 0.83px;
      font-weight: 500;
      margin-bottom: 0;
      cursor: default;
    }
  }
  &-carousel {
    & .owl-nav {
      display: none;
    }
    & .owl {
      &-prev:focus, &-dot:focus {
        outline: 0;
      }
      &-next:focus {
        outline: 0;
      }
      &-dot {
        width: 21px;
        height: 21px;
        background-color: #368cca !important;
        opacity: 0.3;
        margin: 0 20px;
        border: none;
        border-radius: 50px;
        &.active {
          opacity: 1;
        }
      }
      &-dots {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &-diary {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 5px;
    &-more, &-close {
      font-size: 14px;
      letter-spacing: 0.14px;
      color: $css-color;
      text-decoration: underline;
      cursor: pointer;
      width: 90px;
      margin-left: auto;
    }
    &-content {
      display: none;
      padding: 60px;
      border-radius: 8px;
      background-color: #FFFFFF;
      box-shadow: -2px -1px 9px 0 rgba(0, 0, 0, 0.17);
      margin: 5px 5px 50px;
      & h3 {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.16px;
        color: $grafit-color;
        margin-bottom: 0;
      }
      & hr {
        margin: 18px 0;
      }
      & > span {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.6px;
        color: $grafit-color;
        display: block;
        margin-bottom: 10px;
      }
      & div {
        & span {
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 0.6px;
          color: $css-color;
          display: block;
          margin-bottom: 10px;
        }
        & p {
          font-size: 14px;
          letter-spacing: 0.54px;
          color: $grafit-color;
        }
      }
    }
    &-title {
      width: 475px;
      border-radius: 8px;
      background-color: #FFFFFF;
      box-shadow: -2px -1px 9px 0 rgba(0, 0, 0, 0.17);
      padding: 30px 30px 35px 55px;
      & h3 {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.16px;
        color: $grafit-color;
        margin-bottom: 0;
        text-align: center;
      }
      & hr {
        margin: 18px 0;
      }
      & span {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.6px;
        color: $grafit-color;
        display: block;
        text-align: center;
        margin-bottom: 10px;
      }
      & p {
        font-size: 14px;
        letter-spacing: 0.54px;
        color: $grafit-color;
        margin-bottom: 10px;
      }
    }
    &-img {
      padding: 33px;
      width: 330px;
      border-radius: 8px;
      background-color: #FFFFFF;
      box-shadow: -2px -1px 9px 0 rgba(0, 0, 0, 0.17);
    }
    &-carousel {
      border-radius: 8px;
      & img {
        width: 269px;
        height: 250px;
        object-fit: cover;

      }
    }
  }
  &-history {
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: -2px -1px 9px 0 rgba(0, 0, 0, 0.17);
    padding: 45px 85px 80px 85px;
    margin: 60px 0;
    &-line {
      height: 1px;
      background: rgba(151, 151, 151, 0.23);
      width: 90%;
      margin: 0 auto 35px;
    }
    & h3 {
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 1.16px;
      color: $grafit-color;
      text-align: center;
      margin-bottom: 25px;
    }
    & p {
      font-size: 12px;
      letter-spacing: 0.46px;
      color: $grafit-color;
    }
  }
  &-local {
    margin-bottom: 18px;
    & > span {
      display: block;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0.46px;
      color: $css-color;
    }
    & > p {
      font-size: 12px;
      letter-spacing: 0.56px;
      width: 400px;
      margin-bottom: 30px;
      line-height: 1.3;
    }
    & > div {
      display: flex;
      justify-content: flex-start;
      & div {
        width: 200px;
        &:first-child {
          margin-right: 50px;
        }
        & > span {
          display: block;
          font-size: 10px;
          font-weight: bold;
          letter-spacing: 0.46px;
          color: $css-color;
          margin-bottom: 5px;
        }
        & > p {
          font-size: 12px;
          letter-spacing: 0.56px;
          width: 400px;
          margin-bottom: 0;
          line-height: 1.3;
        }
      }
    }
  }
  &-medium-line {
    height: 1px;
    width: 370px;
    background: rgba(151, 151, 151, 0.23);
    margin-bottom: 18px;
  }
  &-long-line {
    height: 1px;
    background: rgba(151, 151, 151, 0.23);
    margin-bottom: 18px;
    width: 100%;
  }
  &-dream {
    &-item {
      width: 200px;
      margin-right: 50px;
      margin-bottom: 20px;
      & span {
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 0.33px;
        display: block;
        color: $grafit-color;
      }
      & p {
        font-size: 12px;
        letter-spacing: 0.46px;
        color: $grafit-color;
        margin-bottom: 0;
      }
    }
    &-wrapp {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
  &-people {
    margin-right: 50px;
    &-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &:first-child {
        margin-bottom: 20px;
      }
      & img {
        width: 107px;
        height: 121px;
        object-fit: cover;
        border-radius: 8px;
        margin-right: 30px;
      }
      & div {
        width: 160px;
        & > h5 {
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 0.75px;
          color: $css-color;
        }
        & p {
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 0.75px;
          color: $grafit-color;
        }
        & span {
          font-size: 14px;
          letter-spacing: 0.97px;
          color: $grafit-color;
          font-weight: 500;
          display: block;
          margin-bottom: 15px;
        }
      }
    }
  }
  &-wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  &-card {
    & > h3 {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.75px;
      color: $css-color;
    }
    &-wrapp {
      display: flex;
      & div {
        &:first-child {
          margin-right: 115px;
          width: 168px;
        }
        & input {
          font-size: 12px;
          letter-spacing: 0.56px;
          border: 0;
          width: auto;
          border-bottom: 1px solid rgba(151, 151, 151, 0.5);
          margin-bottom: 10px;
          display: block;
        }
        & select {
          border: 0;
          font-size: 18px;
          letter-spacing: 0.84px;
          display: block;
          width: 100px;
          margin-bottom: 30px;
        }
        & span {
          font-size: 10px;
          font-weight: bold;
          letter-spacing: 0.46px;
          color: $css-color;
        }
        & p {
          color: $grafit-color;
          font-size: 12px;
          letter-spacing: 0.56px;
        }
      }
    }
    &-title {
      width: 500px;
      padding: 25px 25px 40px 60px;
      border-radius: 8px;
      background-color: #FFFFFF;
      box-shadow: -2px -1px 9px 0 rgba(0, 0, 0, 0.17);
      display: flex;
      box-sizing: content-box;
      & div {
        & a {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          width: 30px;
          height: 30px;
          border-radius: 100%;
          background: #037286;
          color: #fff;
        }
        a, a:hover {
          text-decoration: none;
          -webkit-transition: 0.5s ease;
          transition: 0.5s ease;
        }
        &:last-child {
          margin-left: auto;
        }
        & h4 {
          font-size: 18px;
          letter-spacing: 0.84px;
          color: $css-color;
        }
      }
    }
    & h2 {
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 1.16px;
      color: $grafit-color;
      text-align: center;
      margin-bottom: 50px;
    }
  }
}

//
//.owl-carousel{
//  & .team-diary-wrapp{
//    & .owl-nav{
//      display: none;
//    }
//  }
//}

.team-diary-img {
  & .owl-carousel {
    .owl-dots {
      display: none;
    }
  }
}

.team-diary-img {
  & .owl {
    &-prev:focus, &-dot:focus {
      outline: 0;
    }
    &-next:focus {
      outline: 0;
    }
    &-dot {
      width: 21px;
      height: 21px;
      background-color: #368cca !important;
      opacity: 0.3;
      margin: 0 20px;
      border: none;
      border-radius: 50px;
      &.active {
        opacity: 1;
      }
    }
    &-prev {
      background: url("../img/left-arrow.svg") no-repeat !important;
      width: 30px;
      height: 30px;
      display: block;
      & > span {
        display: none;
      }
    }
    &-next {
      background: url("../img/right-arrow.svg") no-repeat !important;
      width: 30px;
      height: 30px;
      display: block;
      background: #fff;
      & > span {
        display: none;
      }
    }
    &-nav {
      text-align: center;
      display: flex;
      justify-content: space-between;
      margin: 20px 80px 0;
      &:focus {
        outline: 0;
      }
    }
  }
}
