.admin{
  &-card{
    &-place{
      margin-bottom: 35px;
      & > span{
        font-size: 12px;
        letter-spacing: 0.46px;
        color: $main-color;
        margin-bottom: 5px;
        display: block;
      }
      & > p{
        font-size: 12px;
        letter-spacing: 0.56px;
        color: $grafit-color;
      }
    }
    &-adress{
      display: flex;
      justify-content: flex-start;
      & > div:first-child{
        margin-right: 20px;
      }
      & p{
        font-size: 12px;
        letter-spacing: 0.56px;
        color: $grafit-color;
        margin-bottom: 0;
      }
      & span{
        font-size: 12px;
        letter-spacing: 0.46px;
        color: $main-color;
        margin-bottom: 5px;
        display: block;
      }
    }
  }
}

.worksheet{
  border-radius: 8px;
  background-color: #fff;
  box-shadow: -2px -1px 9px 0 rgba(0, 0, 0, 0.17);
  padding: 27px 27px 27px 55px;
  &-wrapp{
    @include flex-start-center;
    margin-bottom: 25px;
    &-img{
      margin-right: 30px;
      border-radius: 2px;
    }
    & > img{
      width: 177px;
      height: 220px;
      object-fit: cover;
    }
    & > p{
      font-size: 12px;
      letter-spacing: 0.46px;
      color: $grafit-color;
      margin-bottom: 0;
    }
  }
  &-line{
    width: 100%;
    height: 1px;
    background: rgba(151, 151, 151, 0.23);
    margin-bottom: 35px;
  }
  &-history{
    border-radius: 8px;
    background-color: #fff;
    box-shadow: -2px -1px 9px 0 rgba(0, 0, 0, 0.17);
    padding: 45px 100px 60px;
    margin-bottom: 100px;
    width: 900px;

    &-page{
      position: relative;
      z-index: 1;
      padding: 20px 0;
      &::before{
        position: absolute;
        content: '';
        right: 0;
        bottom: 30px;
        z-index: -1;
        background: url(../img/history-bg.png) no-repeat;
        width: 100%;
        height: 100%;
        background-size: 75%;
        background-position: right center;
      }
    }
    & > a{
      @include blue-btn;
      margin-left: auto;
    }
    & h2{
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 1px;
      color: $grafit-color;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  &-page{
    margin-top: 28px;
    display: flex;
    justify-content: center;
    & > a{
      margin: 0 10px;
      color: $main-color;
      font-size: 15px;
      &.active{
        font-weight: bold;
      }
    }
  }
  &-bage{
    background: #368CCA;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: #fff;
    @include flex-center-center;
    margin-left: auto;
  }
  &-input{
    margin-bottom: 22px;
    & > span{
      display: block;
      font-size: 15px;
      letter-spacing: 1.04px;
      color: $grafit-color;
      font-weight: 500;
      margin-bottom: 5px;
    }
    & > p{
      border: 0;
      border-radius: 8px;
      background: rgba(226, 237, 240, 0.37);
      padding: 20px 10px;
      width: 100%;
    }
  }
}
@media screen and (max-width: 767px){
  .worksheet{
    padding: 15px;
    &-input > p{
      font-weight: 100;
    }
    &-history{
      margin-bottom: 50px;
      & > a{
        margin:0 auto;
      }
    }
  }
}