.diary{
  margin-bottom: 125px;
  &-line{
    margin: 20px 0 16px;
    width: 100%;
    height: 1px;
    background: rgba(151, 151, 151, 0.23);
  }
  &-card{
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: -2px -1px 9px 0 rgba(0,0,0,0.17);
    padding: 35px 45px;
    width: 44%;
    & h2{
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 1.16px;
      color: $grafit-color;
      text-align: center;
      margin-bottom: 20px;
    }
    & span{
      color: $grafit-color;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.6px;
      margin-bottom: 15px;
      display: block;
      text-align: center;
    }
    & p{
      color: $grafit-color;
      font-size: 14px;
      letter-spacing: 0.54px;
    }
    & a{
      display: block;
      text-align: right;
      text-decoration: underline;
      color: $main-color;
    }
  }
  &-slider{
    width: 53%;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: -2px -1px 9px 0 rgba(0,0,0,0.17);
    padding: 35px 45px;
    @include flex-center-center;
    &-empty{
      width: 53%;
      @include flex-center-center;
      flex-direction: column;
    }
    &-frown{
      cursor: unset;
      margin-bottom: 35px;
      & > i{
        display: block;
        text-align: center;
        color: $main-color;
        font-size: 30px;
        margin-bottom: 10px;
      }
      & > span{
        font-size: 15px;
        letter-spacing: 0.15px;
        color: #9C9A9A;
      }
    }
    &-img{
      text-align: center;
      & > label{
        margin-bottom: 0;
        & > i{
          background: $main-color;
          width: 30px;
          height: 30px;
          border-radius: 50px;
          @include flex-center-center;
          color: #fff;
          box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
          margin: 0 auto 10px;
          cursor: pointer;
        }
      }
      & > span{
        font-size: 15px;
        letter-spacing: 0.15px;
        color: #9C9A9A;
        display: block;
        cursor: default;
      }
    }
  }
  &-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    &-input{
      &-name{
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.16px;
        color: $grafit-color;
        margin-bottom: 20px;
        border: 0;
        background: transparent;
      }
      &-date{
        color:$grafit-color;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.6px;
        display: block;
        margin-bottom: 45px;
        border: 0;
        background: transparent;
      }
    }
    &-img{
      background: $main-color;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      @include flex-center-center;
      box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
      margin: 0 auto 10px;
      & i{
        color: #fff;
      }
    }
    &-frown{
      cursor:unset;
      display: flex;
      margin: 0 auto 10px;
      justify-content: center;
      & i{
        color: $main-color;
        font-size: 30px;
      }
    }
    &-edit{
      background: $main-color;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      @include flex-center-center;
      color: #fff;
      box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
    }
    &-trash{
      font-size: 24px;
      width: 30px;
      float: right;
      text-align: center;
      & i {
        color:$main-color;
      }
    }
    &-link{
      display: flex;
      &-item{
        text-align: center;
        margin-left: 90px;
        & > label{
          margin-bottom: 0;
          & > i{
            background: $main-color;
            width: 30px;
            height: 30px;
            border-radius: 50px;
            @include flex-center-center;
            color: #fff;
            box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
            margin: 0 auto 10px;
            cursor: pointer;
          }
        }
        & span{
          font-size: 15px;
          letter-spacing: 0.15px;
          color: #9C9A9A;
          display: block;
          cursor: pointer;
        }
      }
    }
    &-content{
      padding-right: 130px;
      & textarea{
        width: 100%;
        font-size: 14px;
        letter-spacing: 0.54px;
        color: $grafit-color;
        margin-bottom: 35px;
        border: 0;
        background: #f8f8f8;
        border-radius: 8px;
        resize: none;
        padding: 20px;
      }
      & h4{
        color: $main-color;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.04px;
        margin-bottom: 12px;
      }
      & p{
        font-size: 14px;
        letter-spacing: 0.54px;
        color: $grafit-color;
        margin-bottom: 35px;
      }
      & a{
        font-size: 14px;
        letter-spacing: 0.14px;
        text-decoration: underline;
        display: block;
        text-align: right;
        color: $main-color;
      }
    }
    &-line{
      margin:0 0 15px;
      width: 100%;
      height: 1px;
      background: rgba(151, 151, 151, 0.23);
    }
    &-left{
      width: 300px;
      & h2{
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.16px;
        color:$grafit-color;
        margin-bottom: 20px;
      }
      & span{
        color: $grafit-color;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.6px;
        display: block;
        margin-bottom: 45px;
      }
    }
    &-open{
      border-radius: 8px;
      background-color: #fff;
      box-shadow: -2px -1px 9px 0 rgba(0,0,0,0.17);
      padding: 60px 60px 40px 160px;
      margin-bottom: 30px;
      display: none;
      &-edit{
        border-radius: 8px;
        background-color: #fff;
        box-shadow: -2px -1px 9px 0 rgba(0, 0, 0, 0.17);
        padding: 60px 60px 40px 160px;
        margin-bottom: 30px;
        //display: none;
      }
    }
    &-wrapp{
     display: flex;
      justify-content: space-between;
    }
  }
  &-header{
    margin-bottom: 30px;
    &-link{
      width: 125px;
      margin-left: auto;
      text-align: center;
    }
    & a{
      background: #368CCA;
      width: 30px;
      height: 30px;
      border-radius: 50px;
     @include flex-center-center;
      color: #fff;
      margin: 0 auto;
      box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
      margin-bottom: 10px;
    }
    & span{
      display: block;
      font-size: 15px;
      letter-spacing: 1.04px;
      line-height: 18px;
      color: $grafit-color;
    }
  }
}






/*! lightslider - v1.1.3 - 2015-04-14
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
/** /!!! core css Should not edit !!!/**/

.lSSlideOuter {
  overflow: hidden;
  user-select: none
}
.lightSlider:before, .lightSlider:after {
  content: " ";
  display: table;
}
.lightSlider {
  overflow: hidden;
  margin: 0;
}
.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px
}
.lSSlideWrapper > .lightSlider:after {
  clear: both;
}
.lSSlideWrapper .lSSlide {
  transform: translate(0px, 0px);
  transition-property: transform,height;
  transition-duration: inherit !important;
  transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade {
  position: relative;
}
.lSSlideWrapper .lSFade > * {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9;
  margin-right: 0;
  width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
  opacity: 0;
  transition-delay: 0s;
  transition-duration: inherit !important;
  transition-property: opacity;
  transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade > *.active {
  z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > *.active {
  opacity: 1;
}
/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.lSSlideOuter .lSPager.lSpg {
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
}
.lSSlideOuter .lSPager.lSpg > li {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #222222;
  border-radius: 30px;
  display: inline-block;
  height: 8px;
  overflow: hidden;
  text-indent: -999em;
  width: 8px;
  position: relative;
  z-index: 99;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: #428bca;
}
.lSSlideOuter .media {
  opacity: 0.8;
}
.lSSlideOuter .media.active {
  opacity: 1;
}
/* End of pager */

/** Gallery */

.lSSlideOuter .lSPager.lSGallery {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
  overflow: hidden;
  @include flex-center-center;
}
.lSSlideOuter .lSPager.lSGallery li img{
  border-radius: 10px;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  transition: 0.5s ease;
}
.lSSlideOuter .lSPager.lSGallery img {
  display: block;
  width: 100%;
  height: 50px;
  object-fit: contain;

}
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
  content: " ";
  display: table;
}
.lSSlideOuter .lSPager.lSGallery:after {
  clear: both;
}
/* End of Gallery*/

/* slider actions */
//.lSAction > a {
//  width: 32px;
//  display: block;
//  top: 50%;
//  height: 32px;
//  background-image: url('../img/controls.png');
//  cursor: pointer;
//  position: absolute;
//  z-index: 99;
//  margin-top: -16px;
//  opacity: 0.5;
//  -webkit-transition: opacity 0.35s linear 0s;
//  transition: opacity 0.35s linear 0s;
//}
//.lSAction > a:hover {
//  opacity: 1;
//}
//.lSAction > .lSPrev {
//  background-position: 0 0;
//  left: 10px;
//}
//.lSAction > .lSNext {
//  background-position: -32px 0;
//  right: 10px;
//}
//.lSAction > a.disabled {
//  pointer-events: none;
//}
//.cS-hidden {
//  height: 1px;
//  opacity: 0;
//  filter: alpha(opacity=0);
//  overflow: hidden;
//}


/* vertical */
.lSSlideOuter.vertical {
  position: relative;
  padding-right: 0!important;
  padding-left: 90px;
}
.lSSlideOuter.vertical.noPager {
  padding-right: 0 !important;
}
.lSSlideOuter.vertical .lSGallery {
  position: absolute !important;
  left: 0;
  top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
  width: 100% !important;
  max-width: none !important;
}

/* vertical controlls */
.lSSlideOuter.vertical .lSAction > a {
  left: 50%;
  margin-left: -14px;
  margin-top: 0;
}
.lSSlideOuter.vertical .lSAction > .lSNext {
  background-position: 31px -31px;
  bottom: 10px;
  top: auto;
}
.lSSlideOuter.vertical .lSAction > .lSPrev {
  background-position: 0 -31px;
  bottom: auto;
  top: 10px;
}
/* vertical */


/* Rtl */
.lSSlideOuter.lSrtl {
  direction: rtl;
}
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
  padding-left: 0;
  list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
  padding-right: 0;
}
.lSSlideOuter .lightSlider > *,  .lSSlideOuter .lSGallery li {
  float: left;
}
.lSSlideOuter.lSrtl .lightSlider > *,  .lSSlideOuter.lSrtl .lSGallery li {
  float: right !important;
}
/* Rtl */

@-webkit-keyframes rightEnd {
  0% {
    left: 0;
  }

  50% {
    left: -15px;
  }

  100% {
    left: 0;
  }
}
@keyframes rightEnd {
  0% {
    left: 0;
  }

  50% {
    left: -15px;
  }

  100% {
    left: 0;
  }
}
@-webkit-keyframes topEnd {
  0% {
    top: 0;
  }

  50% {
    top: -15px;
  }

  100% {
    top: 0;
  }
}
@keyframes topEnd {
  0% {
    top: 0;
  }

  50% {
    top: -15px;
  }

  100% {
    top: 0;
  }
}
@-webkit-keyframes leftEnd {
  0% {
    left: 0;
  }

  50% {
    left: 15px;
  }

  100% {
    left: 0;
  }
}
@keyframes leftEnd {
  0% {
    left: 0;
  }

  50% {
    left: 15px;
  }

  100% {
    left: 0;
  }
}
@-webkit-keyframes bottomEnd {
  0% {
    bottom: 0;
  }

  50% {
    bottom: -15px;
  }

  100% {
    bottom: 0;
  }
}
@keyframes bottomEnd {
  0% {
    bottom: 0;
  }

  50% {
    bottom: -15px;
  }

  100% {
    bottom: 0;
  }
}
.lSSlideOuter .rightEnd {
  animation: rightEnd 0.3s;
  position: relative;
}
.lSSlideOuter .leftEnd {
  animation: leftEnd 0.3s;
  position: relative;
}
.lSSlideOuter.vertical .rightEnd {
  animation: topEnd 0.3s;
  position: relative;
}
.lSSlideOuter.vertical .leftEnd {
  animation: bottomEnd 0.3s;
  position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
  animation: leftEnd 0.3s;
  position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
  animation: rightEnd 0.3s;
  position: relative;
}
/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: grab;
}
.lightSlider.lsGrabbing > * {
  cursor: move;
}
.form-dating-button{
  margin:0;
  margin-left:auto;
}
@media screen and (max-width: 767px){
  .diary-block{
    flex-direction: column;
    &-wrapp{
      flex-direction: column;
    }
    &-link{
      flex-direction: column;
    }
    &-content{
      padding: 0px;
    }
  }
  .diary-card{
    width: 100%;
    padding: 27px;
  }
  .diary-block-open-edit{
    padding: 27px;
  }
  .diary-block-link-item{
    margin:0px;
  }
  .diary-slider-empty{
    padding: 15px 0px;
    width: 100%;
  }
  .diary-slider{
    width: 100%;
  }
  .diary-block-left{
    width: 100%;
  }
  .diary-block-input-name{
    width: 100%;
  }
  .diary-block-open{
    padding: 27px;
  }
  .diary-header-link{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
  }
  .diary-header span{
    display: inline-block;
    margin-left: 15px;
  }
  .diary-header a{
    height: 29px;
    margin:0px;
  }
}
@media screen and (max-width: 992px){
  .diary-block-link-item{
    display: flex;
    align-items: center;
    justify-content: center;
    & > label{
      display: flex;
      align-items: center;
      & > i{
        margin:0px 5px;
      }
      justify-content: center;
    }
  }
  .diary-block-frown{
    margin:0 auto 0px;
  }
  .diary-block-left{
    position: relative;
  }
  .diary-o-edit-icon{
    position: absolute;
    top: 79px;
    right: 50px;
  }
  .diary-o-trash-icon{
    position: absolute;
    top: 77px;
    right: 10px;
  }
  .diary-block-edit{
    font-size: 13px;
    width: 25px;
    height: 25px;
  }
  .diary-block-trash{
    font-size: 20px;
  }
  .diary-none-edit-item{
    display: none;
  }
  .diary-block-input-date{
    margin-bottom: 25px;
  }
  .diary-block-link{
      margin: 0px 0px 20px 0px;
      line-height: 3;
  }
  .diary-block-input-date{
    font-weight: 300;
  }
  .diary{
    margin-bottom: 50px;
  }
  .diary-block-content .form-dating-button{
    margin:0 auto;
  }
}