//color
$black-color: #000;
$white-color: #fff;
$main-color: #368CCA;
$css-color:#037286;
$grafit-color: #3F4C55;
$grey-color: #34454E;
$light-blue: #E2EDF0;
$gr-o-main:#7B57A0;
// admin card

@mixin white-card {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: -2px -1px 9px 0 rgba(0, 0, 0, 0.17);
  padding: 27px 27px 27px 55px;
}

// shadow-gradient

$grey-gradient: radial-gradient(circle, #FFFFFF 0%, #D8D8D8 100%);

//font

$main-font: 'Roboto', sans-serif;
$second-font: 'FreeSet';



@mixin simple-block{
  height: 55px;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: -2px -1px 9px 0 rgba(0,0,0,0.17);
  text-align: center;
  font-size: 15px;
  letter-spacing: 1.04px;
}

@mixin css-admin-card{
  min-height: 316px;
  width: 485px;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  padding: 40px 30px;
  margin-bottom: 40px;
}



// h2,p ....

@mixin big-title {
  color: $grafit-color;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

@mixin simple-text {
  position: relative;
  font-size: 18px;
  letter-spacing: 0.7px;
  font-weight: 600;
  text-transform: uppercase;
}

// before number

@mixin number {
  position: absolute;
  opacity: 0.3;
  left: -20px;
  top: -30px;
  color: #E2EDF0;
  font-size: 144px;
  font-weight: 600;
}

@mixin line {
  position: absolute;
  content: '';
  height: 2px;
  width: 62px;
  background: url(../img/sm-line.png);
  background-repeat: repeat;
  bottom: 75px;
  right: -48px;
}

// btn

@mixin yellow-btn {
  border-radius: 8px;
  background: linear-gradient(167.06deg, #F8D212 0%, #FCE035 100%);
  box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.32);
  text-decoration: none;
  padding: 20px;
  font-size: 18px;
  letter-spacing: 0.18px;
  color: $black-color;
  font-weight: 400;
  width: 250px;
  display: block;
  text-align: center;
  cursor: pointer;
}

@mixin white-block {
  background: $white-color;
  border-radius: 8px;
  box-shadow: 0 2px 29px 0 rgba(0, 0, 0, 0.23);
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.2px;
  position: relative;
  z-index: 1;
  font-weight: 100;
  width: 250px;
  padding: 20px;
  margin-bottom: 0;
  line-height: 1.2;
}

@mixin blue-btn {
  height: 50px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.19);
  background: $main-color;
  color: $white-color;
  @include flex-center-center;
  letter-spacing: 0.15px;
  cursor: pointer;
  &:hover{
    box-shadow: 2px 5px 10px 0 rgba(54, 140, 202, 1);
  }
  & > a {
    font-weight: 400;
  }
}


@mixin green-btn {
  height: 50px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.19);
  background: $css-color;
  color: $white-color;
  @include flex-center-center;
  letter-spacing: 0.15px;
  cursor: pointer;
  &:hover{
    box-shadow: 2px 5px 10px 0 $css-color;
  }
  & > a {
    font-weight: 400;
  }
}

// position

@mixin flex-vertical-between{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-arround-center {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}


// form style

@mixin textarea-input {
  width: 625px;
  background: #E2EDF0;
  border-radius: 8px;
  padding: 35px 15px;
  display: block;
  border: 0;
  resize: none;
  margin-bottom: 25px;
}

@mixin title-form {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.25px;
  color: $main-color;
  margin-bottom: 40px;
}

@mixin name-input {
  display: block;
  font-size: 15px;
  letter-spacing: 1.04px;
  color: $black-color;
  margin-bottom: 5px;
  padding-left: 25px;
}

@mixin input-form {
  height: 55px;
  width: 535px;
  border-radius: 8px;
  background-color: #E2EDF0;
  box-shadow: -2px -1px 9px 0 rgba(0, 0, 0, 0.17);
  @include flex-start-center;
  border: 0;
  margin-bottom: 25px;
  padding: 20px 30px;
}

@mixin select-form {
  height: 55px;
  width: 535px;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: -2px -1px 9px 0 rgba(0, 0, 0, 0.17);
  @include flex-start-center;
  border: 0;
  padding: 0 30px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 13px;
  letter-spacing: 0.9px;
}

@mixin input-sm-form {
  display: block;
  height: 45px;
  border-radius: 8px;
  background-color: #E2EDF0;
  box-shadow: -2px -1px 9px 0 rgba(0, 0, 0, 0.17);
  @include flex-start-center;
  border: 0;
  margin-bottom: 25px;
  padding: 20px 30px;
  cursor: pointer;
}

@mixin select-sm-form {
  display: block;
  height: 45px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: -2px -1px 9px 0 rgba(0, 0, 0, 0.17);
  border: 0;
  margin-bottom: 25px;
  padding: 0 30px;
  font-size: 13px;
  cursor: pointer;

}
$group-size: 99;
@mixin six-number(){
  @for $i from 1 through $group-size {
    div:nth-child(#{$group-size}n + #{$i}) {
      &:after {
        content: "#{$i}";
        position: absolute;
        bottom: 15px;
        z-index: -1;
        left: -50px;
        opacity: 0.4;
        color: #E2EDF0;
        font-size: 144px;
      }
    }
  }
}

// style checkbox
