.admin-log{
  padding: 100px 0;
  position: relative;
  z-index: 1;
  &::before{
    background-image: url(../img/hearth.png);
    background-repeat: no-repeat;
    background-position: 35% 50%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  &-img {
    display: flex;
    & > img{
      height: 133px;
      width: 108px;
      object-fit: cover;
      border-radius: 8px;
      margin-right: 10px;
      background: #fbfbfb;
    }
  }
  &-password{
    width: 48%;
    & > span{
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0.46px;
      color: $main-color;
      display: block;
      margin-bottom: 6px;
    }
    & > input{
      border-radius: 2px;
      background-color: #E2EDF0;
      width: 100%;
      border: 0;
      margin-bottom: 3px;
      padding: 0 15px;
      height: 30px;
      &::placeholder{
        font-size: 10px;
        letter-spacing: 0.93px;
      }
    }
  }
  &-description{
    width: 48%;
    & > span {
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0.46px;
      color: $main-color;
      display: block;
      margin-bottom: 2px;
    }
    & > p{
      font-size: 12px;
      letter-spacing: 0.56px;
      color: $grafit-color;
      margin-bottom: 8px;
    }
    & > input{
      font-size: 12px;
      letter-spacing: 0.56px;
      color: $grafit-color;
      margin-bottom: 8px;
      border: 0;
    }
  }
  &-line{
    width: 100%;
    height: 1px;
    background:rgba(151,151,151,0.23);
    margin-bottom: 25px;
  }
  &-card{
    border-radius: 8px;
    background-color: $white-color;
    box-shadow: -2px -1px 9px 0 rgba(0,0,0,0.17);
    padding: 45px 30px 60px 60px;
    width: 480px;
    margin: 0 auto;
    margin-bottom: 20px;
    & > button{
      margin-left: auto;
      border: 0;
      color: #fff;
      background: $main-color;
      width: 100px;
      text-align: center;
      border-radius: 8px;
      font-size: 10px;
      letter-spacing: 0.1px;
      padding: 5px 20px;
      display: block;
      cursor: pointer;
    }
  }
  &-head{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 35px;
    & > img{
      height: 133px;
      width: 108px;
      object-fit: cover;
      border-radius: 8px;
      margin-right: 50px;
    }
    & > a{
      margin-left: auto;
      background: $main-color;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      color: #fff;
      @include flex-center-center;
    }
  }
  &-info{
    display: flex;
    justify-content:space-between;
  }
  &-title{
    & > h2 {
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 1px;
      color: $grafit-color;
    }
    & > input{
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 1px;
      color: $grafit-color;
      border: 0;
      width: 200px;
      display: block;
      line-height: 1;
      &:last-child{
        margin-bottom: 0;
        font-size: 14px;
        letter-spacing: 0.46px;
        color: $grafit-color;
        font-weight: bold;
      }
    }
    & > span{
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0.33px;
      color: $grafit-color;
    }
    & > p{
      margin-bottom: 0;
      font-size: 14px;
      letter-spacing: 0.46px;
      color: $grafit-color;
      font-weight: bold;

    }
  }
}
@media screen and (max-width:991px){
  .admin{
    &-log{
      &-description{
        width: 100%;
      }
      &-password{
        width: 100%;
      }
      &-info{
        flex-direction: column;
      }
      &-head{
        flex-direction: column;
        & > a{
          position: absolute;
          right: 25px;
        }
      }      
      &-card{
        padding: 27px;
        width: 100%;
      }
    }
  }
}