footer.footer#footer
    .container
        .footer-wrapp
            .footer-logo
                img(src='img/footer-logo.svg', alt='')
            .footer-nav
                .footer-nav-item
                    a(href='')
                        | Допомогти
                        br
                        | наставництву
                .footer-nav-item
                    a(href='') Про наставництво

            .footer-btn
                a(href='')
                    | Запропонувати
                    br
                    |  покращення
