footer.footer#footer
    .container
        .footer-wrapp
            .footer-logo
                img(src='img/footer-logo.svg', alt='')
            .footer-nav
                .footer-nav-item
                    a(href='') Вхід  для наставників
                    a(href='') Допомогти наставництву
                    a(href='') Про наставництво
                .footer-nav-item
                    a(href='') ЦСССДМ
                    a(href='') ССД
                    a(href='') Заклади
            .footer-btn
                a(href='')
                    | Допомогти
                    br
                    |  фінансово
