header.css-header-log
    .container
        nav.css-header-wrapp
            .css-header-logo
                a(href='/')
                    img(src='img/logo-purple.svg', alt='')
            .header-notification.gr-o-header-notification
                a.header-notification-icon.gr-o-notification-icon(href="")
                    i.fas.fa-cog
                .message.gr-o-message
                    a.message-link(href='')
                        i.fas.fa-bell
                        .message-new
                            span 25
                    .message-item
                        span У тебе 1 нове повідомлення
                        .message-wrapp.gr-o-message-wrapp
                            a(href='') Читати
                            .message-check.gr-o-message-check
                                input#box3.css-font(type='checkbox', checked='checked')
                                label(for='box3')
                                    | Відмітити
                                    br
                                    | прочитаним




                .admin.gr-o-admin
                    img(src='img/ava.png', alt='')
                    .admin-title
                        span Особистий кабінет МСП України
                        .admin-menu-off.gr-o-admin-menu-off Ігор Петренко
                            i.fas.fa-caret-down
                            .admin-menu-on
                                a(href="/")
                                    i.fas.fa-sign-out-alt
                                    | Вихід з акаунта
                                a(href="admin.html")
                                    i.fas.fa-cog
                                    | Налаштування профілю






