header.header-log.gr-o-header-log
    .container
        nav.header-log-wrapp
            .header-logo
                a(href='/')
                    img(src='img/logo-purple.svg', alt='')
            .header-notification.gr-o-header-notification
                
                a.header-notification-icon.gr-o-notification-icon(href="")
                    i.fas.fa-cog
                a.header-notification-icon.gr-o-notification-icon(href='')
                    i.fas.fa-bell

                .admin.gr-o-admin.gr-o-admin-two
                    img(src='img/gerb_ukr.png', alt='')
                    .admin-title
                        span Особистий кабінет
                          br 
                          | МСП України



