footer.css-footer-log.gr-o-footer-log#footer
    .container
        .css-footer-wrapp.gr-o-footer-wrapp
            .css-footer-logo
                img(src='img/footer-logo.svg', alt='')
            .css-footer-nav
                .css-footer-nav-item
                    a(href='')
                        | Допомогти
                        br
                        | наставництву
                .css-footer-nav-item
                    a(href='') Про наставництво


            a.gr-o-footer-btn.css-footer-btn(href='')
                | Запропонувати
                br
                |  покращення