header.header-log
    .container
        nav.header-log-wrapp
            .header-logo
                a(href='/')
                    img(src='img/header-logo.svg', alt='')
            .header-notification
                a.header-notification-title(href='question.html') Питання?
                a.header-notification-icon(href='')
                    i.fas.fa-bell

                .admin
                    img(src='img/ava.png', alt='')
                    .admin-title
                        span Особистий кабінет наставника
                        .admin-menu-off Ігор Петренко
                            i.fas.fa-caret-down
                            .admin-menu-on
                                a(href="/")
                                    i.fas.fa-sign-out-alt
                                    | Вихід з акаунта
                                a(href="admin.html")
                                    i.fas.fa-cog
                                    | Налаштування профілю



