header.css-header-log
    .container
        nav.css-header-wrapp
            .css-header-logo
                a(href='/')
                    img(src='img/main-logo.svg', alt='')
            .css-header-notification
                a.header-notification-title(href='question.html') Питання?
                a(href='')
                    i.fas.fa-bell
                .message
                    a.message-link(href='')
                        i.fas.fa-bell
                        .message-new
                            span 25
                    .message-item
                        span У тебе 1 нове повідомлення
                        .message-wrapp
                            a(href='') Читати
                            .message-check
                                input#box3.css-font(type='checkbox', checked='checked')
                                label(for='box3')
                                    | Відмітити
                                    br
                                    | прочитаним




                a.css-header-company(href='')
                    img(src='img/css-logo.svg')
                    span
                        | Особистий кабінет
                        br
                        | Пирятинського ЦСССДМ

