header.header-log
    .container
        nav.header-log-wrapp
            .header-logo
                a(href='/')
                    img(src='img/header-logo.svg', alt='')
            .header-notification
                a.header-notification-title(href='question.html') Питання?
                a.header-notification-icon(href='')
                    i.fas.fa-bell

