header.header
    .container
        nav.header-wrapp
            .header-logo
                a(href='/')
                    img(src='img/header-logo.svg', alt='')
            a.header-trigger(href='#')
                i.fas.fa-bars
            ul.header-wrapp-link
                li
                    a.header-link(href='about.html')
                        | Про
                        br
                        | наставництво
                li.header-wrapp-linkdropdown
                    a.header-link(href='#')
                        | Спеціалістам
                        br
                        |  з наставництва
                        span
                            i.fas.fa-caret-down
                    ul.header-dropdown
                        li.header-dropdown-item
                            a(href="material.html").header-dropdown-link
                                | ЦСССДМ
                            a(href="#").header-dropdown-link
                                | ССД
                            a(href="#").header-dropdown-link
                                | Заклады
                li.header-dropp
                    a.header-link(href='volunteer.html')
                        | Допомогти
                        br
                        | наставництву

            .header-btn
                a.header-link.header-login(href='log-in.html')
                    | Вхід
                    br
                    |  для наставників

                a.header-link.header-donate(href='#')
                    | Допомогти
                    br
                    |  фінансово

