section.pre-footer
    .container
        .pre-footer-wrapp
            .pre-footer-share
                h2
                    | Поділись своєю
                    br
                    | думкою
                span Поскаржитись на
                .pre-footer-search
                    select(required='')
                        option(value='', hidden='') Центр со служб
                        option Дыня
                        option Тыква
                        option Кабачок
                        option Баклажан
                        option Патиссон
                        option Огурец
                    button Надіслати
                button Оцінити заклад

            .pre-footer-line
            .pre-footer-mentor
                h2 Твій координатор
                .pre-footer-item
                    .pre-footer-img
                        img(src='img/mentor.jpg')
                    .pre-footer-title
                        .pre-footer-title-name
                            p Ірина Помогайло
                            span Співробітник центра соц служб
                        .pre-footer-title-info
                            img(src='img/sm-phone.svg')
                            p 0800 - 000 - 00 - 00
                        .pre-footer-title-info
                            img(src='img/sm-mail.svg')
                            p name@gmail.com


            .pre-footer-line
            .pre-footer-prof
                h2 Профорієнтація
                .pre-footer-prof-wrapp
                    .pre-footer-prof-item
                        p Фотограф
                        span  ФОП “Куренко В.М.”

                    .pre-footer-prof-info
                        img(src='img/sm-phone.svg')
                        p 0800 - 000 - 00 - 00

                .pre-footer-prof-wrapp
                    .pre-footer-prof-item
                        p Продавець-консультант
                        span  ТОВ “Міріус”

                    .pre-footer-prof-info
                        img(src='img/sm-phone.svg')
                        p 044 - 000 - 00 - 00

                a(href='career.html') Дивитися всі
