section.pre-footer-contact
    .container
        .pre-footer-wrapp
            .pre-footer-share
                h2
                    | Поділись своєю
                    br
                    | думкою
                span Поскаржитись на
                .pre-footer-search
                    select(required='')
                        option(value='', hidden='') Центр со служб
                        option Дыня
                        option Тыква
                        option Кабачок
                        option Баклажан
                        option Патиссон
                        option Огурец
                    button.complaint Надіслати
                    .complaint-modal
                        .complaint-card
                            .complaint-close
                                | ×
                            p Поскаржитися
                            .complaint-line
                            textarea(rows='6' placeholder='Опишіть суть проблеми')
                            button Надіслати
                button.rate-place Оцінити заклад

                .rate-place-modal
                    .rate-place-card
                        .rate-place-close
                            | ×
                        p Оцініть роботу закладу
                        .rate-place-line

                        .rating-stars
                            ul#stars.mb-0
                                li.star(data-value='1')
                                    i.fa.fa-star.fa-fw
                                li.star(data-value='2')
                                    i.fa.fa-star.fa-fw
                                li.star(data-value='3')
                                    i.fa.fa-star.fa-fw
                                li.star(data-value='4')
                                    i.fa.fa-star.fa-fw
                                li.star(data-value='5')
                                    i.fa.fa-star.fa-fw

                        textarea(rows='4' placeholder='Чим заклад допомогає тобі?')
                        textarea(rows='4' placeholder='Як саме заклад може допомогти вашій парі?')
                        button Надіслати




            .pre-footer-line
            .pre-footer-mentor
                h2 Твій координатор
                .pre-footer-item
                    .pre-footer-img
                        img(src='img/mentor.jpg')
                    .pre-footer-title
                        .pre-footer-title-name
                            p Ірина Помогайло
                            span Співробітник центра соц служб
                        .pre-footer-title-info
                            img(src='img/sm-phone.svg')
                            p 0800 - 000 - 00 - 00
                        .pre-footer-title-info
                            img(src='img/sm-mail.svg')
                            p name@gmail.com


            .pre-footer-line
            .pre-footer-prof
                h2 Корисні контакти
                .pre-footer-prof-wrapp
                    .pre-footer-prof-item
                        p ОО “Одна надежда”
                        span
                            | Будь-які питання по
                            br
                            | наставництву

                    .pre-footer-prof-info
                        img(src='img/sm-phone.svg')
                        p 0800 - 000 - 00 - 00

                .pre-footer-prof-wrapp
                    .pre-footer-prof-item
                        p Школа-интернат №72
                        span  Интерант в котором учится воспитанник

                    .pre-footer-prof-info
                        img(src='img/sm-phone.svg')
                        p 044 - 000 - 00 - 00

                a(href='contacts.html') Дивитися всі


