.tape{
  margin-bottom: 100px;
  &-social{
    &-icon{
      font-size: 13px;
      letter-spacing: 0.82px;
      & a{
        color: $main-color;
      }
      & span {
        margin-left: 45px;
        padding-right: 5px;

      }
    }
  }
  &-edit{
    margin-bottom: 30px;
  }
  &-add{
    margin-bottom: 30px;
    &-wrapp{
      display: flex;
    }
    &-btn{
      display: block;
      margin-left: auto;
      @include blue-btn;
      border: 0;
      cursor: pointer;
    }
    &-content{
      background: rgba(226, 237, 240, 0.37);
      padding: 25px 25px 15px;
      width: 100%;
      border-radius: 8px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & > textarea{
        border: 0;
        background: transparent;
        width: 100%;
        font-size: 13px;
        letter-spacing: 0.5px;
        resize: none;
        margin-bottom: 10px;
      }
    }
    &-img{
      display: flex;
      align-items: center;
      &-name{
        margin-bottom: 0;
        font-size: 10px;
        color: $main-color;
        letter-spacing: 0.5px;
        margin-left: 20px;
      }
      & >label {
        margin-bottom: 0;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        & > span{
          font-size: 10px;
        }
        & > i{
          color: $main-color;
          margin-right: 10px;
          font-size: 20px;
        }
      }
      & > input{
        display: none;
      }
    }
  }
  &-title{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: $grafit-color;
    margin-bottom: 50px;
    text-align: center;
  }
  &-wrapp{
    border-radius: 8px;
    background-color: #fff;
    box-shadow: -2px -1px 9px 0 rgba(0,0,0,0.17);
    padding: 40px 50px;
    &-icon{
      @include flex-end-center;
      margin-bottom: 15px;
      font-size: 13px;
      &-img{
        display: flex;
        align-items: center;
        & p{
          margin:0 0 0 10px;
        }
      }
      &-right{
        display: flex;

      }
      &-edit{
        @include flex-between-center;
      }
      & span{
        color: $grafit-color;
        margin-left: 45px;
        padding-right: 5px;
        }
        & a {
          color: $main-color;
          letter-spacing: 0.82px;
        }
    }
  }
  &-dialog{
    margin-bottom: 30px;
    &-btn{
      @include blue-btn;
      margin-left: auto;
      margin-bottom: 30px;
    }
    &-all{
      width: auto;
      display: block;
      text-align: right;
      margin-bottom: 30px;
      & > p{
        font-size: 13px;
        letter-spacing: 0.13px;
        text-decoration: underline;
        color: $main-color;
        cursor: pointer;
      }
      &-content{
        display: none;
      }
    }
    &-content{
      background:rgba(226,237,240,0.37);
      padding: 15px 20px;
      border-radius: 8px;
      width: 100%;
      & > p{
        font-size: 18px;
        letter-spacing: 1.14px;
        color: $main-color;
        margin-bottom: 13px;
      }
      & > textarea{
        border: 0;
        width: 100%;
        background:transparent;
        font-size: 13px;
        letter-spacing: 0.5px;
        resize: none;
        &:focus{
          outline: none;
        }
      }
    }
    &-header{
      @include flex-between-center;
      & > span{
        font-size: 12px;
        letter-spacing: 0.5px;
        color: $grafit-color;
        font-weight: 500;
        display: block;
        opacity: 0.5;
      }
      & > p{
        font-size: 18px;
        letter-spacing: 1.14px;
        color: $main-color;
        margin-bottom: 0;
      }
    }
    &-wrapp{
      display: flex;
      justify-content: flex-start;
      margin-bottom: 25px;
      & img{
        height: 40px;
        width: 40px;
        border-radius: 50px;
        object-fit: cover;
        margin-right: 10px;
      }
    }
  }
  &-line{
    width: 100%;
    height: 1px;
    background: rgba(151, 151, 151, 0.23);
    margin-bottom: 30px
  }
  &-bage{
    &-ok{
      background: $main-color;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      color: #fff;
      @include flex-center-center;
    }
    &-img{
      color: $main-color;
      font-size: 18px;
      @include flex-start-center;
      cursor: pointer;
      & span{
        margin-left: 10px;
        cursor: pointer;
      }
    }
    &-edit{
      background: $main-color;
      width: 20px;
      height: 20px;
      font-size: 10px;
      border-radius: 50px;
      color: #fff;
      @include flex-center-center;
    }
    &-trash{
      color: $main-color;
      font-size: 18px;
      margin-left: 10px;
    }
    margin-left: auto;
    background: $main-color;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: #fff;
    @include flex-center-center;
  }
  &-content{
    padding: 0 160px;
    & span{
      font-size: 13px;
      letter-spacing: 0.5px;
      color: $grafit-color;
      font-weight: 500;
    }
  }
  &-description{
    & p{
      font-size: 14px;
      letter-spacing: 0.54px;
      color: $grafit-color;
      margin-bottom: 35px;
    }
    & textarea{
      font-size: 14px;
      letter-spacing: 0.54px;
      color: $grafit-color;
      margin-bottom: 35px;
      padding: 20px;
      background: #f8f8f8;
      border-radius: 8px;
      width: 100%;
      border: 0;
      resize: none;
    }
  }
  &-image{
    & img{
      height:430px ;
      width: 100%;
      object-fit: cover;
      margin-bottom: 15px;
    }
  }
  &-author{
    & > img{
      width: 45px;
      height: 45px;
      border-radius: 50px;
      margin-right: 20px;
    }
    &-head{
      @include flex-between-center;
      margin-bottom: 30px;
    }
    &-left{
      display: flex;
      & > img{
        width: 45px;
        height: 45px;
        border-radius: 50px;
        margin-right: 20px;
      }
      & h4{
        color: $main-color;
        font-size: 18px;
        letter-spacing: 1.14px;
        margin-bottom: 0;
      }
      & span{
        color: $grafit-color;
        font-size: 12px;
        letter-spacing: 0.46px;
      }
    }
    &-right{

      &-wrapp{
        display: flex;
        align-items: center;
      }
    }
  }
}
@media screen and (max-width:767px){
  .tape-content{
    padding: 0px;
    & span{
      margin:0px;
    }
  }
  .tape-wrapp{
    padding: 27px;
    &-icon-edit{
      justify-content: center;
    }
  }
  .tape-social-icon{
    margin:0px 15px;
  }
  .tape-dialog-header > p{
    letter-spacing: 0;
  }
  .tape-bage-edit{
    width: 30px;
    height: 30px;
    font-size: 17px;
  }
  .tape-wrapp{
    padding: 12px;
  }
  .tape-dialog-content{
    padding: 12px;
    line-height: 1.3;
  }
  .tape-content span{
    margin-left: 7px
  }
  .tape{
    margin-bottom: 50px;
  }
}